@font-face {
  font-display: swap;
  font-family: DBHelvethaicaX-55Regular;
  src: url("/static/fonts/DB-Helvethaica-X-v3.2.ttf");
}
@font-face {
  font-display: swap;
  font-family: DBHelvethaicaX-Bd;
  src: url("/static/fonts/db-helvethaica-x-bd.ttf");
}
@font-face {
  font-display: swap;
  font-family: DBHelvethaicaX-Li;
  src: url("/static/fonts/DB-Helvethaica-X-Li-v3.2.ttf");
}
@font-face {
  font-display: swap;
  font-family: DBHelvethaicaX-Med;
  src: url("/static/fonts/DB-Helvethaica-X-Med-v3.2.ttf");
}
@font-face {
  font-display: swap;
  font-family: TrajanPro-Regular;
  src: url("/static/fonts/TrajanPro-Regular.otf");
}
@font-face {
  font-display: swap;
  font-family: TrajanPro-Bold;
  src: url("/static/fonts/TrajanPro-Bold.otf");
}
@font-face {
  font-display: swap;
  font-family: Gotham-Medium;
  src: url("/static/fonts/GOTHAM-MEDIUM.TTF");
}
@font-face {
  font-display: swap;
  font-family: CmPrasanmit;
  src: url("/static/fonts/CmPrasanmit.ttf");
}
