html {
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
  font-family: "Kanit";
  background-color: #232530;
}

img {
  display: block;
}

a {
  text-decoration: none;
  cursor: pointer;
}

:focus {
  outline: none;
}

#root {
  visibility: hidden;
}
