@mixin gap-vertical($gap) {
  margin: $gap 0;
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}
@mixin gap-horizontal($gap) {
  margin: 0 $gap;
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}
@mixin font-responsive($min, $max, $scale) {
  font-size: calc(#{$min} + #{$scale});
  @include media-breakpoint-up(lg) {
    font-size: $max;
  }
}

@mixin full-block() {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
