.about-page {
  background-color: #2c2f3c;
  position: relative;
  .ant-tabs-nav-wrap {
    display: none; // ปิด about ไว้ก่อน
  }

  .about-page-container {
    position: relative;
    .bg-image-background-tab {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      @include media-breakpoint-down(md) {
        height: 20%;
        width: auto;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    .ant-tabs {
      padding-top: 60px;
      .ant-tabs-tab {
        color: white;
        font-family: DBHelvethaicaX-55Regular;
        font-size: 26px;
        letter-spacing: 0.5px;
        margin-left: 40px;
        margin-right: 40px;
        padding-top: 5px;
        @include media-breakpoint-down(sm) {
          font-family: DBHelvethaicaX-Med;
          font-size: 18px;
          margin-left: 10px;
          margin-right: 10px;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
      .ant-tabs-tab-active {
        color: #d4bb9d;
      }
      .ant-tabs-ink-bar {
        height: 3px;
        background-color: #c2ab92;
      }
      .ant-tabs-content {
        padding-top: 150px;
        @include media-breakpoint-down(md) {
          padding-top: 20px;
        }
      }
    }
  }
}
