.career-page {
  padding-bottom: 120px;
  background-color: #2c2f3c;
  .block1 {
    position: relative;
    padding: 150px 0;
    background-color: #2c2f3c;
    @include media-breakpoint-down(md) {
      padding: 60px 0;
    }
    .block1-bg-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.2;
    }
    .title-carreer {
      position: relative;
      font-family: DBHelvethaicaX-55Regular;
      font-size: 28px;
      line-height: 1.13;
      color: #ffffff;
      padding-left: 30px;
      border-left: 1px solid #d4bb9d;
      margin-bottom: 50px;
      @include media-breakpoint-down(md) {
        font-size: 28px;
      }
    }
    .container-points {
      position: relative;
      .desktop {
        display: flex;
        justify-content: center;
        @include media-breakpoint-down(md) {
          display: none;
        }
      }
      .mobile {
        display: none;
        @include media-breakpoint-down(md) {
          display: block;
        }
      }
      .swiper-container {
        padding-bottom: 50px;
      }
      .swiper-pagination {
        bottom: 0;
      }
      .point-block {
        padding: 0 30px;
        flex: 1;
        &:not(:last-child) {
          border-right: 1px solid #ffffff;
        }
        .title {
          font-family: DBHelvethaicaX-Bd;
          font-size: 30px;
          color: #ffffff;
          padding-bottom: 20px;
        }
        .description {
          font-family: DBHelvethaicaX-55Regular;
          font-size: 26px;
          line-height: 1.13;
          color: #ffffff;
          @include media-breakpoint-down(md) {
            font-size: 24px;
          }
        }
      }
    }
  }
  .block2 {
    position: relative;
    padding-top: 100px;
    @include media-breakpoint-down(md) {
      padding-top: 50px;
    }
    .bg-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      @include media-breakpoint-down(md) {
        display: none;
      }
    }
    h2 {
      font-family: DBHelvethaicaX-Med;
      font-size: 44px;
      color: #d4bb9d;
      padding-bottom: 30px;
      text-transform: uppercase;
    }
    .container {
      position: relative;
      z-index: 2;
    }
    .ant-collapse {
      background: transparent;
      .ant-collapse-item {
        .ant-collapse-header {
          font-family: DBHelvethaicaX-55Regular;
          font-size: 30px;
          color: #ffffff;
          outline: none;
          padding: 30px 0;
          @include media-breakpoint-down(md) {
            font-size: 24px;
            padding: 20px 0;
          }
          .ant-collapse-arrow {
            font-size: 20px;
            @include media-breakpoint-down(md) {
              font-size: 15px;
              right: 0;
            }
          }
        }
        .ant-collapse-content-box {
          padding-top: 20px;
          padding-bottom: 50px;
        }
      }
    }

    .left-block {
      height: 100%;
      border-right: 1px solid #ffffff;
      color: #ffffff;
      @include media-breakpoint-down(md) {
        border-right: 0;
      }
      p {
        font-family: DBHelvethaicaX-Med;
        font-size: 32px;
        color: #d4bb9d;
        line-height: 2;
        @include media-breakpoint-down(md) {
          font-size: 26px;
        }
      }
      ul {
        list-style: disc;
        padding-left: 30px;
        li {
          font-family: DBHelvethaicaX-55Regular;
          font-size: 24px;
          line-height: 1.3;
          color: #ffffff;
          @include media-breakpoint-down(md) {
            font-size: 22px;
          }
        }
      }
    }
    .form-block {
      @include media-breakpoint-down(md) {
        margin-top: 20px;
      }
      .ant-form-item {
        margin-bottom: 15px;
        @include media-breakpoint-down(md) {
          margin-bottom: 5px;
        }
      }
      .title {
        font-family: DBHelvethaicaX-Med;
        font-size: 20px;
        color: #d4bb9d;
        text-transform: uppercase;
      }
      input {
        background-color: transparent;
        border-radius: 0;
        border-color: #ffffff;
        height: 45px;
        color: #ffffff;
      }
      .row {
        margin-right: -5px;
        margin-left: -5px;
        @include media-breakpoint-down(md) {
          margin: 0;
        }
      }
      .col {
        padding-right: 5px;
        padding-left: 5px;
        @include media-breakpoint-down(md) {
          padding: 0;
        }
      }
      .ant-upload-drag {
        border: 1px dotted #ffffff;
        padding: 30px 10px;
        width: 100%;
        background: transparent;
        border-radius: 0;
        .ant-upload-text {
          font-family: DBHelvethaicaX-Reg;
          font-size: 14px;
          text-transform: uppercase;
          color: #b0b0b0;
          text-align: center;
        }
      }
      .ant-upload-list-item-info {
        .anticon-paper-clip {
          top: 2px;
        }
      }
      .ant-upload-list-item-name,
      .ant-upload-list-item-info,
      .ant-upload-list-item {
        color: #ffffff;
        svg {
          fill: #ffffff;
        }
      }
      .ant-upload-list-item:hover {
        .ant-upload-list-item-name,
        .ant-upload-list-item-info,
        .ant-upload-list-item-name,
        .anticon-close {
          color: #000000;
          svg {
            fill: #000000;
          }
        }
      }
      .recapta-block {
        display: flex;
        justify-content: center;
        margin: 10px 0;
      }
      .register-form-button {
        background-color: transparent;
        border: 1px solid #ffffff;
        border-radius: 0;
        padding: 0 40px;
        width: 80%;
        height: 40px;
      }
    }
  }
}
