.contact-page {
  background-color: #2c2f3c;
  .content {
    padding-top: 100px;
    position: relative;
    @include media-breakpoint-down(md) {
      padding-top: 60px;
    }
    .bg-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      @include media-breakpoint-down(md) {
        display: none;
      }
    }
    .left-block {
      padding-bottom: 50px;
      .topic {
        font-family: DBHelvethaicaX-55Regular;
        font-size: 30px;
        line-height: 1.13;
        color: #ffffff;
        padding-left: 32px;
        border-left: 1px solid #d4bb9d;
        @include media-breakpoint-down(md) {
          font-size: 26px;
          line-height: 1;
        }
      }
      .form-block {
        padding-top: 57px;
        @include media-breakpoint-down(md) {
          padding-top: 40px;
        }
        .ant-form-item {
          @include media-breakpoint-down(md) {
            margin-bottom: 10px;
          }
        }
        .ant-select-selection {
          display: flex;
          align-items: center;
          background-color: transparent;
          border-radius: 0;
          border-color: #ffffff;
          height: 45px;
          color: #ffffff;
        }
        .title {
          font-family: DBHelvethaicaX-Bd;
          font-size: 20px;
          color: #d4bb9d;
          text-transform: uppercase;
        }
        input {
          background-color: transparent;
          border-radius: 0;
          border-color: #ffffff;
          height: 45px;
          color: #ffffff;
        }
        .row {
          margin-right: -5px;
          margin-left: -5px;
          @include media-breakpoint-down(sm) {
            margin: 0;
          }
        }
        .col {
          padding-right: 5px;
          padding-left: 5px;
          @include media-breakpoint-down(sm) {
            padding: 0;
          }
        }
        .register-form-button {
          background-color: transparent;
          border: 1px solid #ffffff;
          border-radius: 0;
          padding: 0 40px;
          height: 40px;
        }
      }
    }
    .right-block {
      padding-left: 30px;
      border-left: 1px solid #d4bb9d;
      margin-bottom: 50px;
      @include media-breakpoint-down(sm) {
        padding-left: 0;
        border: 0;
      }
      h2 {
        font-family: DBHelvethaicaX-Bd;
        font-size: 38px;
        color: #d4bb9d;
        @include media-breakpoint-down(md) {
          font-size: 34px;
        }
      }
      .address {
        font-family: DBHelvethaicaX-55Regular;
        font-size: 26px;
        line-height: 1.13;
        color: #ffffff;
        padding: 20px 0;
        @include media-breakpoint-down(md) {
          font-size: 24px;
        }
      }
      .contact-detail {
        .contact-item {
          display: flex;
          align-items: center;
          p {
            font-family: DBHelvethaicaX-55Regular;
            font-size: 28px;
            color: #ffffff;
            margin-left: 10px;
            @include media-breakpoint-down(md) {
              font-size: 24px;
            }
          }
          .img-icon {
            height: 20px;
            width: 20px;
            object-fit: contain;
          }
        }
      }
    }
    .map-container {
      .group-block {
        display: flex;
        flex-direction: column;
      }
      .direction-block {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-left: 10px;
        margin-bottom: 20px;
        position: relative;
        .result-block {
          position: absolute;
          top: 50px;
          left: 0;
          z-index: 1;
          background-color: #232530;
          ul {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            width: 225px;
            li {
              display: flex;
              justify-content: flex-start;
              align-items: flex-start;
              padding: 5px 7px;
              cursor: pointer;
              width: 100%;
              p {
                font-family: DBHelvethaicaX-55Regular;
                font-size: 21px;
                color: #ffffff;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
          }
        }
        .ant-input-clear-icon {
          color: white;
          font-size: 14px;
        }
        input {
          border: none;
          background: transparent;
          border-bottom: 1px solid #d4bb9d;
          border-radius: 0;
          box-shadow: none;
          color: white;
          text-align: center;
          font-family: DBHelvethaicaX-55Regular;
          font-size: 22px;
          height: 44px;
          padding-right: 40px;
        }
        button {
          background: #d4bb9d;
          border: none;
          border-radius: 0;
          margin-left: 5px;
          width: 100px;
          height: 44px;
          span {
            color: #000000;
            text-transform: uppercase;
          }
        }
      }
      .button-group {
        display: flex;
        align-items: center;
        padding-top: 70px;
        padding-bottom: 20px;
        .button-primary {
          background: transparent;
          border-radius: 0;
          padding: 10px 20px;
          border: 1px solid #ffffff;
          font-family: DBHelvethaicaX-55Regular;
          font-size: 22px;
          color: #ffffff;
          cursor: pointer;
          @include media-breakpoint-down(md) {
            padding: 8px 15px;
            flex: 1;
          }
          &:not(:last-child) {
            border-right: none;
          }
        }
        .active {
          background: #d4bb9d;
          color: #000000;
          border-color: #d4bb9d;
        }
      }
      .map-content {
        position: relative;
        height: 500px;
        @include media-breakpoint-down(md) {
          height: 450px;
        }
        .marker {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          color: white;
          font-size: 16px;
        }
        .location-icon {
          padding-top: 10px;
        }
        .bg-image-map {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
