.disclamer-policy-page {
  background-color: #2c2f3c;
  position: relative;
  .bg-image {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 95px;
    width: 100%;
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
  .content {
    padding-top: 180px;
    padding-bottom: 100px;
    position: relative;
    z-index: 2;
    @include media-breakpoint-down(sm) {
      padding-top: 70px;
    }
    h1 {
      font-family: TrajanPro-Regular;
      text-transform: uppercase;
      font-size: 56px;
      text-align: center;
      color: #d4bb9d;
      padding-bottom: 40px;
      @include media-breakpoint-down(sm) {
        font-size: 46px;
      }
    }
    h2 {
      font-family: DBHelvethaicaX-55Regular;
      // text-transform: uppercase;
      font-size: 28px;
      // text-align: center;
      color: #d4bb9d;
      padding-bottom: 7px;
      padding-top: 20px;
      @include media-breakpoint-down(sm) {
        font-size: 24px;
      }
    }
    ul {
      padding-left: 35px;
      li {
        list-style-type: circle;
      }
    }
    .ul-num {
      > li {
        list-style-type: decimal;
      }
    }
    .ul-2 {
      padding-left: 35px;
    }
    .ul-disc {
      li {
        list-style-type: disc;
      }
    }
    p,
    span,
    div {
      font-family: DBHelvethaicaX-55Regular;
      font-size: 24px;
      line-height: 1.25;
      color: #ffffff;
      @include media-breakpoint-down(sm) {
        font-size: 22px;
      }
    }
  }
}
