.news-detail-page {
  padding-top: 160px;
  padding-bottom: 100px;
  background-color: #2c2f3c;

  @include media-breakpoint-down(sm) {
    padding-top: 30px;
  }

  .container-content {
    padding-left: 10%;
    padding-right: 10%;
    @include media-breakpoint-down(sm) {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .back-block {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    .text-back {
      font-family: DBHelvethaicaX-55Regular;
      font-size: 24px;
      color: #ffffff;
      margin-left: 16px;
    }
  }
  .news-header {
    .date {
      font-family: DBHelvethaicaX-55Regular;
      font-size: 24px;
      color: #ffffff;
    }
    .title {
      font-family: DBHelvethaicaX-Med;
      font-size: 40px;
      color: #ffffff;
      padding-top: 15px;
      @include media-breakpoint-down(sm) {
        font-size: 30px;
      }
    }
  }
  .news-images {
    margin-top: 30px;
    .news-images-desktop {
      @include media-breakpoint-down(sm) {
        display: none;
      }
      .container-first-image {
        width: 100%;
        // height: 750px;
        margin-bottom: 30px;
        img {
          max-width: 100%;
          margin: auto;
        }
      }
      .container-image-thumbnail {
        position: relative;
        // height: 200px;
        .image-thumbnail-block {
          height: 100%;
          padding: 0 20px;
          &:first-child {
            padding-left: 0;
          }
          img {
            max-height: 100%;
            max-width: 100%;
            object-fit: cover;
          }
        }
        .last-image {
          background-color: #000000;
          cursor: pointer;
          .image-thumbnail-block {
            opacity: 0.2;
            padding-right: 0;
          }
        }
        .button-plus {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: #ffffff;
          text-transform: uppercase;
          letter-spacing: 1px;

          // button {
          //   border: none;
          //   width: 90px;
          //   height: 90px;
          //   background-color: transparent;
          //   i {
          //     font-size: 35px;
          //   }
          // }
        }
      }
    }
    .news-images-mobile {
      display: none;
      @include media-breakpoint-down(sm) {
        display: block;
      }
      .image-mobile-block {
        height: 240px;
      }
    }
    .swiper-container {
      padding-bottom: 20px;
      .swiper-pagination {
        bottom: 0;
      }
    }
  }

  .news-description {
    margin-top: 65px;
    .description {
      font-family: DBHelvethaicaX-55Regular;
      font-size: 24px;
      color: #ffffff;
      line-height: 1.2;
      @include media-breakpoint-down(sm) {
        font-size: 24px;
      }
    }
  }
  .container-social {
    display: flex;
    align-items: center;
    margin-top: 40px;
    padding-bottom: 80px;
    border-bottom: 1px solid #c1ab91;
    @include media-breakpoint-down(sm) {
      padding-bottom: 50px;
    }
    .social-block {
      cursor: pointer;
      &:not(:last-child) {
        margin-right: 5px;
      }
    }
  }
  .container-pagination {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include media-breakpoint-down(sm) {
      align-items: flex-start;
    }
    .pagination-block {
      display: flex;
      align-items: center;
      @include media-breakpoint-down(sm) {
        flex-direction: column;
        align-items: flex-start;
      }
    }
    .text-block {
      width: 300px;
      @include media-breakpoint-down(sm) {
        width: 130px;
      }
    }
    .title-pagination {
      // font-family: DBHelvethaicaX-Med;
      font-family: DBHelvethaicaX-55Regular;
      font-size: 24px;
      color: #ffffff;

      display: block;
      display: -webkit-box;
      max-width: 100%;
      margin: 0 auto;
      margin-top: 5px;
      line-height: 1;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .date-pagination {
      font-family: DBHelvethaicaX-Li;
      font-size: 18px;
      color: #ffffff;
      padding-bottom: 5px;
    }
    .left-block {
      margin-left: -60px;
      @include media-breakpoint-down(sm) {
        margin-left: 0;
      }
      .button-block {
        margin-right: 20px;
        @include media-breakpoint-down(sm) {
          margin-bottom: 15px;
        }
      }
    }
    .right-block {
      flex-direction: row-reverse;
      text-align: right;
      margin-right: -60px;
      @include media-breakpoint-down(sm) {
        margin-right: 0;
        flex-direction: column;
        align-items: flex-end;
      }
      .button-block {
        margin-left: 20px;
        @include media-breakpoint-down(sm) {
          margin-bottom: 15px;
        }
      }
    }
  }
}
