.news-page {
  padding-top: 160px;
  background-color: #2c2f3c;
  @include media-breakpoint-down(md) {
    padding-top: 130px;
  }
  @include media-breakpoint-down(sm) {
    padding-top: 60px;
  }
  .container-news-header {
    padding-bottom: 25px;
    .bg-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      @include media-breakpoint-down(sm) {
        height: 45%;
        object-fit: cover;
      }
    }
  }

  .container-news-slider {
    padding-top: 60px;
    @include media-breakpoint-down(md) {
      padding-top: 60px;
    }
  }

  .all-news-desktop {
    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  .all-news-mobile {
    display: none;
    @include media-breakpoint-down(md) {
      display: block;
    }
  }

  .container-all-news {
    position: relative;
    padding-bottom: 50px;
    .background-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .container-news-highlight {
      position: relative;
      padding-top: 50px;
      @include media-breakpoint-down(md) {
        display: none;
      }
      .card-article-component {
        height: 400px;
        margin: 0;
        @include media-breakpoint-down(lg) {
          height: 300px;
          display: flex;
        }
      }
    }

    .desktop {
      .swiper-container {
        padding-bottom: 40px;
      }
    }

    .swiper-pagination {
      bottom: 0;
    }
  }
}
