.project-progress-detail-page {
  position: relative;

  .project-progress-container {
    background-color: #2c2f3c;
    padding: 130px 0;
    position: relative;
    @include media-breakpoint-down(sm) {
      padding: 40px 0;
    }
    .bg-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
    .topic-container {
      .topic-label {
        font-family: DBHelvethaicaX-Med;
        font-size: 48px;
        color: #d4bb9d;
      }
      .date-label {
        font-family: DBHelvethaicaX-55Regular;
        font-size: 32px;
        color: #ffffff;
      }
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
    .project-container {
      margin-top: 40px;
      position: relative;
      @include media-breakpoint-down(sm) {
        margin-top: 0;
      }
      .progress-container {
        max-width: 1120px;
        margin: auto;
        .topic-block {
          .topic-text {
            font-family: Gotham-Medium;
            font-size: 24px;
            text-align: center;
            color: #ffffff;
            text-transform: uppercase;
            @include media-breakpoint-down(sm) {
              font-family: DBHelvethaicaX-Bd;
              text-align: left;
            }
          }
        }
        .progress-block {
          margin-top: 40px;
          @include media-breakpoint-down(sm) {
            margin-top: 10px;
          }
          .start-block,
          .end-block {
            width: 256px;
            height: 256px;
            border: solid 1px #ffffff;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: TrajanPro-Regular;
            text-transform: uppercase;
            font-size: 60px;
            text-align: center;
            color: #d4bb9d;
            margin: auto;
            @include media-breakpoint-down(sm) {
              width: 96px;
              height: 96px;
              font-family: TrajanPro-Bold;
              text-transform: uppercase;
              font-size: 24px;
              margin: 0;
            }
          }
          .items-block {
            .items {
              position: relative;
              display: flex;
              flex-direction: row;
              align-items: center;
              @include media-breakpoint-down(sm) {
                flex-direction: column;
                align-items: flex-start;
                padding: 20px 0;
              }
              > div {
                flex: 1;
              }
              .left {
                position: relative;
                z-index: 2;
                width: 100%;
              }
              .center {
                position: relative;
                flex: 1 1 auto;
                @include media-breakpoint-down(sm) {
                  display: none;
                }
              }
              .right {
                position: relative;
                z-index: 2;
                width: 100%;
              }
              .item {
                img {
                  width: 100%;
                  max-width: 100%;
                }
                ul {
                  margin-top: 30px;
                  line-height: 1.5;
                  @include media-breakpoint-down(sm) {
                    padding-left: 65px;
                  }
                  li {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    .name,
                    .progress {
                      font-family: DBHelvethaicaX-55Regular;
                      font-size: 24px;
                      color: #ffffff;
                      @include media-breakpoint-down(sm) {
                        font-family: DBHelvethaicaX-Li;
                        font-size: 18px;
                      }
                    }
                    .name {
                    }
                    .progress {
                    }
                  }
                }
              }
              .date {
                position: absolute;
                z-index: 1;
                top: 21%;
                left: 50%;
                transform: translate(-50%, 0);
                font-family: DBHelvethaicaX-55Regular;
                font-size: 32px;
                text-align: center;
                color: #ffffff;
                width: fit-content;
                margin: auto;
                background-color: #2c2f3c;
                padding: 15px;
                @include media-breakpoint-down(sm) {
                  position: inherit;
                  top: inherit;
                  left: inherit;
                  transform: inherit;
                  order: 0;
                  font-size: 24px;
                }
                &:after {
                  content: "";
                  display: block;
                  width: 100%;
                  border: 1px solid #ffffff;
                  position: absolute;
                  top: 50%;
                  transform: translate(0, -50%);
                  @include media-breakpoint-down(sm) {
                    display: none;
                  }
                }
              }
              .line-vertical {
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                @include media-breakpoint-down(sm) {
                  width: 96px;
                }
                .line {
                  position: absolute;
                  top: 0;
                  left: 50%;
                  transform: translate(-50%, 0);
                  width: 1px;
                  height: 100%;
                  background: #ffffff;
                }
              }
              &.position-left {
                .left {
                  @include media-breakpoint-down(sm) {
                    order: 1;
                  }
                }
                .right {
                  @include media-breakpoint-down(sm) {
                    display: none;
                  }
                }
                .date {
                  &:after {
                    left: -100%;
                  }
                }
              }
              &.position-right {
                .right {
                  @include media-breakpoint-down(sm) {
                    order: 1;
                  }
                }
                .left {
                  @include media-breakpoint-down(sm) {
                    display: none;
                  }
                }
                .date {
                  &:after {
                    right: -100%;
                  }
                }
              }
            }
          }
          .progress-info-text {
            font-family: Gotham-Medium;
            font-size: 24px;
            text-align: center;
            color: #ffffff;
            max-width: 340px;
            margin: auto;
            margin-top: 30px;
            line-height: 1.5;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}
