.project-progress-page {
  position: relative;
  .project-progress-container-desktop {
    background-color: #2c2f3c;
    padding-top: 130px;
    padding-bottom: 80px;
    position: relative;
    @include media-breakpoint-down(md) {
      padding-top: 80px;
    }
    @include media-breakpoint-down(sm) {
      padding: 40px 0;
      display: none;
    }
    .bg-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
    .topic-container {
      .topic-label {
        font-family: DBHelvethaicaX-Med;
        font-size: 48px;
        color: #d4bb9d;
      }
    }
    .project-container {
      margin-top: 40px;
      position: relative;
      .items {
        max-width: 1120px;
        margin: auto;
        a {
          &:not(:last-child) {
            .item-block {
              margin-bottom: 80px;
              @include media-breakpoint-down(md) {
                margin-bottom: 40px;
              }
            }
          }
        }
        .item-block {
          height: 450px;
          @include media-breakpoint-down(md) {
            height: 320px;
          }
          .item {
            position: relative;
            width: 100%;
            height: 100%;
            .bg-block {
              @include full-block();
            }
            .item-content-block {
              @include full-block();
              padding: 20px;
              position: relative;
              .item-content {
                position: relative;
                width: 100%;
                height: 100%;
                .logo-block {
                  position: absolute;
                  top: 0;
                  left: 0;
                  img {
                    width: 120px;
                  }
                }
                .slogan-block {
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  > * {
                    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
                    font-family: DBHelvethaicaX-Bd;
                    font-size: 30px;
                    line-height: 1.13;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    color: #ffffff;
                    @include media-breakpoint-down(md) {
                      font-size: 26px;
                    }
                  }
                }
                .overall-block {
                  position: absolute;
                  top: 0;
                  right: 0;
                  bottom: 0;
                  padding: 0 42px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  .overall-bg {
                    @include full-block();
                    opacity: 0.6;
                    background-color: #2c2f3c;
                  }
                  .overall-content {
                    position: relative;
                    .overall-label {
                      font-family: TrajanPro-Bold;
                      font-size: 30px;
                      text-align: center;
                      color: #ffffff;
                      text-transform: uppercase;
                      @include media-breakpoint-down(md) {
                        font-size: 28px;
                      }
                    }
                    .progress-block {
                      margin-top: 40px;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      .ant-progress-circle .ant-progress-text {
                        font-family: Gotham-Medium;
                        font-size: 30px;
                        text-align: center;
                        color: #ffffff;
                      }
                    }
                    .lastupdate-label {
                      margin-top: 30px;
                      font-family: DBHelvethaicaX-55Regular;
                      font-size: 24px;
                      text-align: center;
                      color: #ffffff;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .project-progress-container-mobile {
    display: none;
    @include media-breakpoint-down(sm) {
      display: block;
      margin-top: 40px;
    }
    .item-block-mobile {
      background-color: #2c2f3c;
      .detail-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 200px;
        .left-block {
          padding: 0 20px;
          flex-basis: 50%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          .logo-block {
            display: flex;
            justify-content: center;
            margin-bottom: 35px;
            img {
              width: 120px;
            }
          }
          .slogan-block {
            p {
              font-family: DBHelvethaicaX-Bd;
              font-size: 20px;
              text-align: center;
              color: #ffffff;
              line-height: 1.29;
            }
          }
        }
        .right-block {
          flex-basis: 50%;
          height: 100%;
          background-color: #232530;
          display: flex;
          align-items: center;
          justify-content: center;
          .overall-content {
            .overall-label {
              font-family: TrajanPro-Bold;
              font-size: 18px;
              text-align: center;
              color: #ffffff;
              text-transform: uppercase;
            }
            .progress-block {
              margin-top: 10px;
              display: flex;
              justify-content: center;
              align-items: center;
              .ant-progress-inner {
                width: 80px !important;
                height: 80px !important;
              }
              .ant-progress-circle .ant-progress-text {
                font-family: DBHelvethaicaX-Bd;
                font-size: 24px;
                text-align: center;
                color: #ffffff;
              }
            }
            .lastupdate-label {
              margin-top: 10px;
              font-family: DBHelvethaicaX-Li;
              font-size: 18px;
              text-align: center;
              color: #ffffff;
            }
          }
        }
      }
    }
  }
}
