.project-progress-page {
  position: relative;

  .project-progress-container {
    background-color: #2c2f3c;
    padding: 130px 0;
    position: relative;
    @include media-breakpoint-down(sm) {
      padding: 40px 0;
    }
    .bg-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
    .topic-container {
      .topic-label {
        font-family: DBHelvethaicaX-Med;
        font-size: 48px;
        color: #d4bb9d;
      }
    }
    .project-container {
      margin-top: 40px;
      position: relative;
      .items {
        max-width: 1120px;
        margin: auto;
        .item {
          margin-bottom: 40px;
          cursor: pointer;
          .info-block {
            padding: 14px 0;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .top-block {
              .condo-block {
                .condo-name {
                  .label {
                    font-family: DBHelvethaicaX-Med;
                    font-size: 24px;
                    color: #ffffff;
                  }
                  .value {
                    font-family: DBHelvethaicaX-Med;
                    font-size: 32px;
                    color: #d4bb9d;
                  }
                }
                .tag-block {
                  background-color: #f5f0e9;
                  padding: 4px 16px;
                  .tag-name {
                    font-family: DBHelvethaicaX-Med;
                    font-size: 24px;
                    color: #2c2f3c;
                  }
                }
              }
              .completion-block {
                margin-top: 24px;
                .label {
                  font-family: DBHelvethaicaX-55Regular;
                  font-size: 24px;
                  color: #ffffff;
                }
                .progress-block {
                  .ant-progress-inner,
                  .ant-progress-bg {
                    border-radius: 0;
                  }
                  .ant-progress-inner {
                    background-color: #232530;
                  }
                  .ant-progress-bg {
                    height: 32px !important;
                    background-color: $primary-color;
                  }
                  .ant-progress-status-success .ant-progress-bg {
                    background-color: $success-color;
                  }
                  .ant-progress-text {
                    font-family: DBHelvethaicaX-Med;
                    font-size: 24px;
                    color: #ffffff;
                  }
                  .ant-progress-show-info .ant-progress-outer {
                    margin-right: calc(-4em - 8px);
                    padding-right: calc(4em + 8px);
                  }
                }
              }
            }
            .bottom-block {
              .last-update-block {
                display: flex;
                flex-direction: row;
                align-items: center;
                .label {
                  font-family: DBHelvethaicaX-55Regular;
                  font-size: 18px;
                  color: #ffffff;
                }
                .value {
                  font-family: DBHelvethaicaX-Li;
                  font-size: 18px;
                  color: #ffffff;
                  margin-left: 4px;
                }
              }
            }
          }
        }
      }
    }
  }
}
