.project-page {
  position: relative;
  background-color: #2c2f3c;
  padding-bottom: 30px;
  padding-top: 100px;
  @include media-breakpoint-down(md) {
    padding-top: 0;
  }
<<<<<<< HEAD

=======
>>>>>>> 53d8fc6c01b2ebbbc4a94d9a832499cf181731e9
  .container-project-silder {
    margin-top: 40px;
    @include media-breakpoint-down(sm) {
      margin-top: 20px;
    }

    .project-block-wrapper {
      height: 500px;
      margin-bottom: 30px;
      overflow: hidden;
      .card-project-component {
        cursor: pointer;
        transition: opacity 0.3s, transform 0.4s;
        &:hover {
          transform: scale(1.05);
        }
      }
    }
    .swiper-container {
      width: auto;
      height: 500px;
      padding-bottom: 40px;
      @media (min-width: 1200px) and (max-width: 1450px) {
      }
      @include media-breakpoint-down(md) {
        width: 100%;
      }
      .swiper-slide {
        background-color: #232530;
        width: 70%;
        margin: auto;
        .project-block {
          opacity: 0.2;
        }
      }
      .swiper-slide-active {
        .project-block {
          opacity: 1;
        }
      }
    }
    .swiper-pagination {
      bottom: 0;
    }
  }
}
