.thankyou-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
  h1 {
    font-family: DBHelvethaicaX-55Regular;
    font-size: 90px;
    color: #ffffff;
  }
  p {
    font-family: DBHelvethaicaX-55Regular;
    font-size: 40px;
    color: #ffffff;
    margin-top: 30px;
  }
  button {
    margin-top: 40px;
    background-color: rgba(212, 187, 157, 0.6);
    border: none;
    padding: 4px 34px;
    span {
      font-family: DBHelvethaicaX-55Regular;
      font-size: 24px;
      color: #ffffff;
    }
  }
}
