.ant-tabs {
  display: flex;
  flex-direction: column;
  align-items: center;
  .ant-tabs-bar {
    border: none;
  }
  .ant-tabs-tab {
    color: white;
  }
  .ant-tabs-tab-active {
    color: #c2ab92;
  }
  .ant-tabs-ink-bar {
    background-color: #c2ab92;
    top: 1px;
  }
}
