.ant-radio-group {
  .ant-radio-button-wrapper {
    background: transparent;
    border-radius: 0;
    height: auto;
    padding: 8px 30px;
    span {
      color: white;
      font-family: DBHelvethaicaX-55Regular;
      font-size: 24px;
    }
  }
  .ant-radio-button-wrapper-checked {
    background-color: #c2ab92;
    border-color: #c2ab92;
    box-shadow: none;
    span {
      color: black;
    }
  }
}
