.banner-component {
  height: 480px;
  position: relative;
  @include media-breakpoint-down(sm) {
    // height: 90vh;
    height: 300px;
  }
  .banner {
    height: 100%;
    .banner-desktop {
      display: block;
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
    .banner-mobile {
      display: none;
      @include media-breakpoint-down(sm) {
        display: block;
      }
    }
  }
  .banner-title-block {
    position: absolute;
    top: 45%;

    // @include media-breakpoint-down(sm) {
    //   top: auto;
    //   bottom: 30px;
    //   width: 100%;
    // }

    &.right {
      right: 5%;
      @include media-breakpoint-down(sm) {
        right: auto;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
      }
    }
    &.left {
      left: 5%;
      @include media-breakpoint-down(sm) {
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
      }
    }
    .banner-title-bold {
      font-family: TrajanPro-Regular;
      font-size: 60px;
      color: #d4bb9d;
      text-transform: uppercase;
      @include media-breakpoint-down(sm) {
        // font-family: TrajanPro-Bold;
        font-size: 30px;
        letter-spacing: 1.2px;
        text-align: center;
      }
    }
    .banner-title {
      // font-family: DBHelvethaicaX-Med;
      font-family: DBHelvethaicaX-55Regular;
      font-size: 28px;
      color: #ffffff;
      text-align: right;
      text-transform: uppercase;
      letter-spacing: 1px;
      @include media-breakpoint-down(sm) {
        font-size: 24px;
        text-align: center;
        padding-top: 8px;
      }
    }
    .mouse-block {
      display: none;
      @include media-breakpoint-down(sm) {
        display: none;
        // display: flex;
        // justify-content: center;
        // svg {
        //   width: 38px;
        // }
      }
    }
  }
}
