.card-article-component {
  display: flex;
  height: 280px;
  margin-bottom: 20px;
  @include media-breakpoint-down(lg) {
    display: block;
    height: auto;
  }

  .image-article-block {
    flex-basis: 50%;
    overflow: hidden;

    .img-article-background {
      @include media-breakpoint-down(lg) {
        display: none;
      }
      transition: opacity 0.3s, transform 0.4s;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
  .img-article {
    display: none;
    @include media-breakpoint-down(lg) {
      display: block;
      max-width: 100%;
      max-height: 100%;
      height: 230px;
      width: 100%;
      object-fit: cover;
    }
  }

  .content-article-block {
    flex-basis: 50%;
    height: 100%;
    background-color: #f5f0e9;
    .content-article-wrapper {
      height: 100%;
      position: relative;
      padding: 0 20px;
      padding-top: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .container-content {
      .number-block {
        font-family: TrajanPro-Regular;
        text-transform: uppercase;
        font-size: 56px;
        color: #d4bb9d;
      }
      .date-block {
        font-family: DBHelvethaicaX-Li;
        font-size: 18px;
        color: #2c2f3c;
        margin-top: 10px;
      }
      .title-block {
        font-family: DBHelvethaicaX-Med;
        font-size: 24px;
        color: #2c2f3c;
        display: block;
        display: -webkit-box;
        max-width: 100%;
        margin: 0 auto;
        margin-top: 10px;
        line-height: 1.13;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 10px;
      }
    }
    .container-footer {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 35px;
      @include media-breakpoint-down(lg) {
        margin-top: 20px;
      }
      .container-social {
        display: flex;
        align-items: center;
        .social-block {
          cursor: pointer;
          &:not(:last-child) {
            margin-right: 5px;
          }
        }
      }
    }
  }

  @include media-breakpoint-down(lg) {
    .image-article-block {
      flex-basis: 45%;
    }
    .content-article-block {
      flex-basis: 55%;
      .container-content {
        .number-block {
          font-size: 26px;
        }
        .title-block {
          margin-top: 20px;
          font-size: 24px;
          line-height: 1.13;
          -webkit-line-clamp: 4;
          height: 100px;
        }
      }
    }
  }
}
