.card-project-component {
  position: relative;
  width: 100%;
  height: 100%;

  .card-project-image-mobile {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .card-project-detail-mobile {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    .detail-block-background {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.8;
      background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        #000000 50%,
        #000000 100%
      );
    }
    .detail-block {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 25px 20px;
      z-index: 1;
    }
    .image-logo {
      position: absolute;
      top: 50px;
      left: 50%;
      z-index: 111;
      transform: translateX(-50%);
      width: 120px;
    }
    .status-block {
      position: relative;
      z-index: 1;
      margin-bottom: 15px;
      p {
        font-family: DBHelvethaicaX-Bd;
        font-size: 18px;
        color: black;
      }
    }
    .text-icon-block {
      position: relative;
      z-index: 1;
      &:not(:last-child) {
        margin-bottom: 5px;
      }
      p {
        font-family: DBHelvethaicaX-55Regular;
        font-size: 20px;
        color: white;
        letter-spacing: 1px;
        padding-left: 10px;
      }
    }
  }
}
