.cookie-policy-block{
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: rgb(51, 52, 63);
  padding: 10px 20px;
  text-align: center;
  z-index: 111;
  span, a{
    font-family: DBHelvethaicaX-55Regular;
    font-size: 17px;
    color: #c0bebe;
    line-height: 1;
  }
  a{
    text-decoration: underline;
    margin-left: 5px;
  }
  .ant-btn{
    padding: 2px 15px;
    line-height: 1;
    border-radius: 5px;
    margin-left: 10px;
    background-color: #c5a47c;
    border: none;
    span{
      color: #ffffff;
      text-transform: capitalize;
    }
  }
}