$slick-font-family: "slick" !default;
$slick-arrow-color: white !default;
$slick-prev-character: "\2190" !default;
$slick-next-character: "\2192" !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

.gallery-component {
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  /* Arrows */
  .slick-prev,
  .slick-next {
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none;
    &:hover,
    &:focus {
      outline: none;
      background: transparent;
      color: transparent;
      &:before {
        opacity: $slick-opacity-on-hover;
      }
    }
    &.slick-disabled:before {
      opacity: $slick-opacity-not-active;
    }
    &:before {
      font-family: $slick-font-family;
      font-size: 20px;
      line-height: 1;
      color: $slick-arrow-color;
      opacity: $slick-opacity-default;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }

  .slick-prev {
    left: -25px;
    [dir="rtl"] & {
      left: auto;
      right: -25px;
    }
    &:before {
      content: $slick-prev-character;
      [dir="rtl"] & {
        content: $slick-next-character;
      }
    }
  }

  .slick-next {
    right: -25px;
    [dir="rtl"] & {
      left: -25px;
      right: auto;
    }
    &:before {
      content: $slick-next-character;
      [dir="rtl"] & {
        content: $slick-prev-character;
      }
    }
  }
  /* Arrows */

  .slider1 {
    .image-item-block {
      height: 590px;
      @include media-breakpoint-down(md) {
        height: 415px;
      }
      @media (max-width: 680px) {
        height: 200px;
      }
    }
    .slick-arrow {
      display: none !important;
    }
    .slick-current {
      z-index: 1;
    }
  }
  .slider2 {
    margin-top: 40px;
    @include media-breakpoint-down(md) {
      margin-top: 20px;
    }
    .slick-list {
      margin: 0 -10px;
      padding-bottom: 8px;
      @include media-breakpoint-down(md) {
        margin: 0 10px;
      }
    }

    .image-item-block {
      height: 160px;
      padding: 0 10px;
      @include media-breakpoint-down(md) {
        height: 90px;
      }
      @include media-breakpoint-down(sm) {
        height: 80px;
      }
      .name {
        padding: 10px 0;
        p {
          font-family: DBHelvethaicaX-55Regular;
          color: #5b5b5b;
          font-size: 24px;
        }
      }
    }
    .slick-arrow {
      svg {
        width: 60px;
        @include media-breakpoint-down(md) {
          width: 40px;
        }
        @include media-breakpoint-down(sm) {
          width: 30px;
        }
      }

      &.slick-prev {
        position: absolute;
        left: -80px;
        top: 30%;
        &::before {
          display: none;
        }
        @include media-breakpoint-down(md) {
          left: -25px;
        }
        @include media-breakpoint-down(sm) {
          left: -12px;
        }
      }
      &.slick-next {
        position: absolute;
        right: -40px;
        top: 30%;
        &::before {
          display: none;
        }
        @include media-breakpoint-down(md) {
          right: -5px;
        }
        @include media-breakpoint-down(sm) {
          right: -2px;
        }
      }
    }
  }
  .slider2-video {
    @include media-breakpoint-down(sm) {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
    .slick-track {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .slick-slide {
      width: 242px !important;
      .image-item-block {
        height: 160px;
        padding: 0 10px;
        @include media-breakpoint-down(md) {
          height: 120px;
        }
        @include media-breakpoint-down(sm) {
          height: 80px;
        }
        img {
          object-fit: contain;
        }
      }
    }
  }
}
