.language-switcher {
  .ant-dropdown-link {
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        width: 10px;
      }
    }
  }
}
