.layout {
  .call-block {
    display: flex;
    align-items: center;
    svg {
      margin-right: 5px;
    }
    p {
      font-family: Gotham-Medium !important;
      font-size: 40px !important;
      color: white !important;
    }
  }

  header {
    // background-image: linear-gradient(to bottom, #2c2f3c, rgba(44, 47, 60, 0.8) 42%, rgba(44, 47, 60, 0));
    background-color: rgba(44, 47, 60, 0.8);
    // padding: 45px 0;
    padding: 23px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    border-bottom: 1px solid #c1aa91;
    @include media-breakpoint-down(md) {
      padding: 10px 0;
    }
    a {
      font-family: DBHelvethaicaX-55Regular;
      font-size: 22px;
      color: white;
      &.active,
      &:hover,
      &:focus {
        color: #d4bb9d;
      }
    }

    .header-desktop {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .left {
        .img-branding {
          width: 100px;
          max-height: 60px;
        }
      }
      .center {
        flex: 1;
      }
      .right {
      }
      .menu-container {
        max-width: 1000px;
        margin: auto;
        @media (min-width: 1200px) and (max-width: 1400px) {
          max-width: 850px;
        }
        ul {
          display: flex;
          align-items: center;
          justify-content: space-between;
          li {
            a {
              display: flex;
              align-items: center;
              i {
                display: flex;
                padding-left: 7px;
                svg {
                  width: 15px;
                }
              }
            }
          }
        }
      }
      @include media-breakpoint-down(md) {
        display: none;
      }
    }

    .header-mobile {
      display: none;
      @include media-breakpoint-down(md) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        padding: 0 15px;
        .left {
          position: relative;
          z-index: 1;
        }
        .center {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        .right {
          position: relative;
          z-index: 1;
          a,
          i {
            display: flex;
            justify-content: center;
            align-items: center;
          }
          i {
            margin-left: 5px;
          }
        }
        .branding {
          .img-branding {
            width: 70px;
            max-width: 70px;
          }
        }
        .call-block {
          svg {
            width: 22px;
            height: 22px;
            margin-right: 4px;
          }
          p {
            font-size: 28px !important;
          }
        }
        .menu-container {
          position: fixed;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          transform: translateY(-100%);
          overflow: hidden;
          transition: all 0.6s;
          .bg {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 10000%;
            background-image: linear-gradient(
              to bottom,
              #2c2f3c,
              rgba(44, 47, 60, 0.8) 42%,
              rgba(44, 47, 60, 0)
            );
            transition: all 1.2s;
            opacity: 0;
          }
          .menus {
            position: relative;
            flex: 0 1 70%;
            ul {
              li {
                position: relative;
                padding: 14px 0;
                text-align: center;
                &:after {
                  content: "";
                  display: block;
                  position: absolute;
                  left: 0;
                  right: 0;
                  bottom: 0;
                  height: 1px;
                  opacity: 0.2;
                  border: solid 1px #d4bb9d;
                }
                a {
                }
              }
            }
          }
        }
        &.show-menu {
          .menu-container {
            transform: translateY(0%);
            .bg {
              opacity: 1;
            }
          }
        }
      }
    }
  }

  .main-content {
    overflow: hidden;
    @include media-breakpoint-down(sm) {
      margin-top: 78px;
    }
  }

  footer {
    a {
      font-family: DBHelvethaicaX-55Regular;
      font-size: 22px;
      color: white;
      &.active,
      &:hover,
      &:focus {
        color: #d4bb9d;
      }
      @include media-breakpoint-down(sm) {
        font-size: 18px;
      }
    }
    .row-1-container {
      background-color: #2c2f3c;
      padding: 25px 0;
      .row-1 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .center {
          flex: 1;
        }
        .menu-container {
          max-width: 1000px;
          margin: auto;
          @media (min-width: 1200px) and (max-width: 1400px) {
            max-width: 850px;
          }
          ul {
            display: flex;
            // align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            @include media-breakpoint-down(md) {
              justify-content: flex-start;
            }
            li {
              // flex: 1;
              @include media-breakpoint-down(md) {
                flex: 0 0 33%;
                @include gap-vertical(10px);
              }
              @include media-breakpoint-down(sm) {
                flex: 0 0 50%;
              }
              a {
                display: flex;
                align-items: center;
                i {
                  display: flex;
                  padding-left: 7px;
                  svg {
                    width: 15px;
                  }
                }
              }
              &.li-project {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                @include media-breakpoint-down(sm) {
                  margin-top: 0;
                }
              }
            }
          }
          .ul-project {
            display: flex;
            flex-direction: column;
            padding-top: 8px;
            li {
              @include gap-vertical(3px);
              @include media-breakpoint-down(md) {
                @include gap-vertical(4px);
              }
            }
          }
        }
      }
    }
    .row-2-container {
      background-color: #232530;
      // padding: 40px 0;
      p {
        font-family: DBHelvethaicaX-55Regular;
        font-size: 21px;
        color: #ffffff;
        line-height: 1.3;
        @include media-breakpoint-down(sm) {
          font-size: 18px;
        }
      }
      .container {
        @include media-breakpoint-down(lg) {
          max-width: initial;
        }
      }
      .company-logo {
        @include media-breakpoint-down(sm) {
          margin-top: 20px;
          display: flex;
          justify-content: center;
        }
        img {
          @include media-breakpoint-only(sm) {
            margin-left: -20px;
            margin-top: 20px;
          }
        }
      }
      .address-block {
        line-height: 1.13;
        @include media-breakpoint-down(lg) {
          padding-top: 22px;
        }
        @include media-breakpoint-only(sm) {
          margin-right: -20px;
        }
        .company-name {
          font-family: DBHelvethaicaX-55Regular;
          font-size: 30px;
          color: #d4bb9d;
          @include media-breakpoint-down(sm) {
            font-size: 20px;
          }
        }
      }
      .contact-block {
        line-height: 1.25;
        display: flex;
        justify-content: flex-end;
        // padding-right: 30px;

        @include media-breakpoint-down(md) {
          margin-top: 18px;
          justify-content: flex-start;
        }
        @include media-breakpoint-down(sm) {
          justify-content: center;
        }
        .socials-block {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          @include media-breakpoint-down(lg) {
            justify-content: flex-start;
          }
          .socials {
            border-right: 1px solid white;
            margin-right: 15px;
            padding-right: 15px;
            padding-top: 5px;
            a {
              @include gap-horizontal(5px);
            }
          }
        }
        .copyright {
          text-align: right;
          line-height: 1;
          @include media-breakpoint-down(lg) {
            margin-top: 14px;
            text-align: left;
          }
          // @include media-breakpoint-down(sm) {
          //   text-align: left;
          // }
        }
      }
      .newsletter-block {
        margin-top: 30px;
        @include media-breakpoint-down(md) {
          padding-top: 20px;
        }
      }
    }
    .newsletter-block {
      @include media-breakpoint-down(md) {
        margin-left: -20px;
        margin-right: -20px;
        background-color: #141623;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 20px;
      }
      .newsletter-title {
        font-family: Gotham-Medium;
        font-size: 22px;
        color: #d4bb9d;
      }
      .block2 {
        margin-top: 17px;
        padding-bottom: 32px;
        width: 100%;
        .ant-form {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .ant-form-item {
          margin-right: 0;
          width: 100%;
          display: flex;
          justify-content: center;
        }
        .ant-form-item-control-wrapper {
          width: 80%;
        }
        .ant-form-item-with-help {
          margin-bottom: 0;
        }
        .ant-form-explain {
          position: absolute;
          bottom: -25px;
          left: 3px;
          font-family: DBHelvethaicaX-55Regular;
          font-size: 20px;
          padding-top: 3px;
        }
        .button-submit-block {
          margin-left: 5px;
          button {
            padding: 5px 30px;
          }
        }
        .input-email {
          text-align: center;
          width: 100%;
          height: 48px;
          background-color: #232530;
          border: 0;
          box-shadow: inset 0 4px 8px 0 rgba(0, 0, 0, 0.5);
          color: white;
        }
      }
    }
    .row-newsletter {
      display: none;
      background-color: #141623;
      padding: 5px 0;
      margin-top: 30px;
      @include media-breakpoint-down(lg) {
        display: block;
      }
      @include media-breakpoint-down(md) {
        display: none;
      }
      .block2 {
        margin-top: 0;
        padding-bottom: 0;
        width: 40%;
      }
      .newsletter-block {
        display: flex;
        justify-content: center;
        align-items: center;
        .newsletter-title {
          margin-right: 15px;
        }
      }
    }
    .row-3-container {
      background-color: #141623;
      padding: 15px 0;
      @include media-breakpoint-down(md) {
        padding-bottom: 40px;
      }
      .row-3 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
      }
      ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        li {
          position: relative;
          display: flex;
          flex-direction: row;
          align-items: center;
          @include gap-horizontal(40px);
          a {
            display: flex;
            flex-direction: row;
            align-items: center;
            @include media-breakpoint-down(md) {
              flex-direction: column;
            }
          }
          .icon {
            margin-right: 12px;
            width: 24px;
            height: 24px;
            @include media-breakpoint-down(md) {
              margin-right: 0;
              margin-bottom: 10px;
              width: 48px;
              height: 48px;
            }
          }
          &:after {
            content: "";
            display: block;
            width: 1px;
            height: 16px;
            background-color: #ffffff;
            opacity: 0.6;
            position: absolute;
            top: 50%;
            right: -42px;
            transform: translate(0%, -50%);
          }
          &:last-child {
            &:after {
              display: none;
            }
          }
        }
      }

      .left {
        @include media-breakpoint-down(md) {
          flex: 1 1 100%;
        }
        ul {
          li {
            @include media-breakpoint-down(md) {
              flex: 1 1 100%;
              margin: 0;
              justify-content: center;
              margin: 20px 0;
              &:after {
                content: "";
                display: block;
                width: 100%;
                height: 1px;
                background-color: #ffffff;
                opacity: 0.2;
                position: absolute;
                left: 0;
                right: 0;
                bottom: -20px;
                top: inherit;
                transform: inherit;
              }
            }
          }
        }
      }
      .right {
        @include media-breakpoint-down(md) {
          flex: 1 1 100%;
          margin-top: 45px;
          ul {
            justify-content: center;
          }
        }
      }
    }
  }

}
