.mybutton {
  border-radius: 0;
  background-color: transparent;
  height: auto;
  padding: 5px 18px;
  span {
    font-family: DBHelvethaicaX-55Regular;
    font-size: 18px;
    text-transform: uppercase;
  }
  &:hover,
  &:focus {
    background-color: #c2ab92 !important;
  }
  i {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.mybutton-arrow {
  height: 40px;
  width: 40px;
  padding: 0;
  i {
    color: white;
  }
}

.mybutton-plus {
  height: 40px;
  width: 40px;
  padding: 0;
  background-color: rgba(44, 47, 60, 0.5);
  i {
    color: white;
    opacity: 0.9;
    font-size: 18px;
  }
}

.mybutton-text-black {
  border-color: #2c2f3c;
  color: #2c2f3c;
  span {
    text-transform: uppercase;
  }
  &:hover {
    border-color: #c2ab92;
    color: #2c2f3c;
  }
}

.mybutton-text-white {
  border-color: #ffffff;
  color: #ffffff;
  span {
    text-transform: uppercase;
  }
  &:hover {
    border-color: #c2ab92;
    color: #ffffff;
  }
}
