.mouse-scroll-wheel {
  cursor: pointer;
  svg {
    overflow: visible;
    // animation: scroll 3s cubic-bezier(0.15, 0.41, 0.69, 0.94) infinite;
  }

  // .mouse-wheel {
  //   animation: scroll 3s cubic-bezier(0.15, 0.41, 0.69, 0.94) infinite;
  // }

  .arrow-down {
    animation: scroll 1.5s ease-out infinite;
  }

  @keyframes scroll {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(8px);
    }
    100% {
      transform: translateY(0);
    }
  }
}
