.section-project-component {
  position: relative;
  background-color: #2c2f3c;
  padding-bottom: 30px;
  .bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    @include media-breakpoint-down(md) {
      height: 260px;
      object-fit: cover;
    }
  }
  .ant-tabs {
    padding-top: 60px;
    .ant-tabs-tab {
      color: white;
      font-family: DBHelvethaicaX-55Regular;
      font-size: 26px;
      letter-spacing: 0.5px;
      margin-left: 40px;
      margin-right: 40px;
      padding-top: 5px;
    }
    .ant-tabs-tab-active {
      color: #d4bb9d;
    }
    .ant-tabs-ink-bar {
      height: 3px;
      background-color: #c2ab92;
    }
  }
  .button-group-block {
    display: flex;
    justify-content: center;
    @include media-breakpoint-down(sm) {
      .ant-radio-button-wrapper {
        padding: 5px 20px;
        span {
          font-family: DBHelvethaicaX-Li;
          font-size: 20px;
        }
      }
    }
  }
  .filter-list-block {
    .container-filter-block {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 40px;
      min-height: 53px;
      @include media-breakpoint-down(lg) {
        overflow: scroll;
        padding-left: 30px;

        &::-webkit-scrollbar {
          width: 0px;
          background: transparent;
        }
        .filter-block {
          min-height: 53px;
          &:not(:first-child) {
            border-left: 1px solid #c2ab92;
            padding-left: 15px;
          }
          &:not(:first-child) {
            margin-left: 15px;
          }
          &:last-child {
            padding-right: 20px;
          }
        }
      }
      @include media-breakpoint-down(sm) {
        justify-content: flex-start;
        margin-top: 20px;
        // padding-left: 30px;
      }
    }
    .filter-block {
      display: flex;
      align-items: center;
      p {
        color: white;
        font-family: DBHelvethaicaX-55Regular;
        font-size: 23px;
        letter-spacing: 0.5px;
        width: max-content;
        cursor: pointer;
        &:hover,
        &.selected {
          color: #d4bb9d;
        }
      }
      .icon-bts {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 10px;
      }
      &:not(:first-child) {
        border-left: 1px solid #c2ab92;
        padding-left: 30px;
      }
      &:not(:first-child) {
        margin-left: 30px;
      }
    }
  }
}
