.status-bar-component {
  font-family: DBHelvethaicaX-Bd;
  font-size: 20px;
  color: #2c2f3c;
  margin-bottom: 10px;
  margin-top: 10px;
  background: #ffffff;
  width: fit-content;
  padding: 4px 15px;
  display: inline-block;
}
