.swiper-pagination-bullet {
  width: 18px;
  height: 6px;
  background: white;
  border-radius: 0;
  opacity: 1;
  transition: all 0.3s;
  @include media-breakpoint-down(sm) {
    width: 12px;
    height: 4px;
  }
}
.swiper-pagination-bullet-active {
  width: 28px;
  height: 6px;
  background: #d4bb9d;
  @include media-breakpoint-down(sm) {
    width: 22px;
    height: 4px;
  }
}

.swiper-pagination-fraction {
  span {
    font-family: DBHelvethaicaX-55Regular;
    font-size: 22px;
  }
}
