.swiper-promotion-component {
  .container-swiper-desktop {
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
  .container-swiper-mobile {
    display: none;
    @include media-breakpoint-down(sm) {
      display: block;
      height: 590px;
    }
  }
  .swiper-container {
    width: auto;
    height: 100%;
    padding-bottom: 50px;
    // margin-left: 20px;
    // margin-right: 20px;
    // padding-left: 50px;
    // padding-right: 50px;
    .swiper-slide {
      background-color: #dad8d3;
      width: 80%;
      margin: auto;
      @include media-breakpoint-down(sm) {
        background-color: transparent;
      }
      .advertise-block {
        opacity: 0.5;
        height: 100%;
      }
    }
    .swiper-slide-active {
      .advertise-block {
        opacity: 1;
        mix-blend-mode: normal;
      }
    }
  }
  .swiper-promotion-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    right: 10px;
    cursor: pointer;
    img {
      width: 50px;
    }
  }
  .swiper-promotion-button-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    left: 10px;
    cursor: pointer;
    img {
      width: 50px;
    }
  }
  .swiper-pagination {
    bottom: 0;
  }
}
