.swiper-news-component {
  .card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 10px;
    .card-block {
      flex: 0 0 49%;
      &:nth-child(3),
      &:nth-child(4) {
        .card-article-component {
          flex-direction: row-reverse;
        }
      }
    }
  }
  .mobile {
    .swiper-container {
      padding-bottom: 20px;
    }
    .swiper-news-mobile-button-next {
      position: absolute;
      bottom: 2px;
      right: 35%;
      z-index: 12;
      i {
        font-size: 15px;
      }
    }
    .swiper-news-mobile-button-prev {
      position: absolute;
      bottom: 2px;
      left: 35%;
      z-index: 12;
      i {
        font-size: 15px;
      }
    }
  }
}
