.about-vproperty-tab {
  padding-bottom: 100px;
  .header {
    p {
      font-family: DBHelvethaicaX-55Regular;
      font-size: 28px;
      color: #ffffff;
      line-height: 1.3;
      @include media-breakpoint-down(md) {
        font-size: 22px;
      }
      @include media-breakpoint-down(sm) {
        font-size: 18px;
      }
    }
  }
  .header-title {
    font-family: DBHelvethaicaX-Med;
    font-size: 44px;
    color: #d4bb9d;
    padding-bottom: 8px;
    text-align: center;
  }
  .video-block {
    height: 700px;
    margin-top: 40px;
    font-family: DBHelvethaicaX-Reg;
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    @include media-breakpoint-down(md) {
      height: 400px;
    }
    @include media-breakpoint-down(sm) {
      height: 300px;
      margin-right: -20px;
      margin-left: -20px;
    }
  }
  .container-award {
    margin-top: 100px;
    @include media-breakpoint-down(md) {
      margin-top: 60px;
    }
    h2 {
      font-family: DBHelvethaicaX-Med;
      font-size: 44px;
      text-align: center;
      color: #d4bb9d;
      margin-bottom: 110px;
      @include media-breakpoint-down(md) {
        margin-bottom: 50px;
        font-size: 32px;
      }
    }
    .desktop {
      @include media-breakpoint-down(md) {
        display: none;
      }
    }
    .mobile {
      display: none;
      @include media-breakpoint-down(md) {
        display: block;
      }
    }
    .swiper-container {
      padding-bottom: 25px;
    }
    .swiper-pagination {
      bottom: 0;
    }
    .next-button {
      width: 0;
      height: 0;
      border-top: 16px solid transparent;
      border-bottom: 16px solid transparent;
      border-left: 22px solid #d4bb9d;
      position: absolute;
      top: 15%;
      right: 0px;
      z-index: 2;
    }
    .prev-button {
      width: 0;
      height: 0;
      border-top: 16px solid transparent;
      border-bottom: 16px solid transparent;
      border-right: 22px solid #d4bb9d;
      position: absolute;
      top: 15%;
      left: 0px;
      z-index: 2;
    }
    .description-block {
      .title {
        font-family: DBHelvethaicaX-Bd;
        font-size: 32px;
        color: #ffffff;
        line-height: 1.13;
      }
      .description {
        font-family: DBHelvethaicaX-55Regular;
        font-size: 24px;
        line-height: 1.25;
        color: #ffffff;
        padding-top: 10px;
        @include media-breakpoint-down(md) {
          font-size: 22px;
        }
        @include media-breakpoint-down(sm) {
          font-size: 18px;
        }
      }
      ul {
        padding-top: 20px;
        li {
          position: relative;
          padding-left: 15px;
          &:not(:last-child) {
            padding-bottom: 10px;
          }
          &:before {
            content: "";
            background-color: #d4bb9d;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            position: absolute;
            top: 15px;
            left: 0;
          }
          p {
            font-family: DBHelvethaicaX-55Regular;
            font-size: 24px;
            color: #d4bb9d;
            @include media-breakpoint-down(md) {
              font-size: 22px;
            }
            @include media-breakpoint-down(sm) {
              font-size: 18px;
            }
            span {
              color: #ffffff;
              padding-left: 10px;
            }
          }
        }
      }
    }
    .block1 {
      .left-block {
        display: flex;
        justify-content: center;
      }
    }
    .block2 {
      display: flex;
      align-items: center;
      margin-top: 50px;
      .image-award {
        padding: 10px;
        &:not(:last-child) {
          margin-right: 30px;
        }
      }
      .active {
        background: #23252d;
      }
    }
    .image-block {
      display: flex;
      justify-content: center;
      img {
        @include media-breakpoint-down(sm) {
          width: 65%;
        }
      }
    }
  }
}
