.v-family-tab {
  h2 {
    font-family: DBHelvethaicaX-Med;
    font-size: 48px;
    text-align: center;
    color: #d4bb9d;
    @include media-breakpoint-down(sm) {
      font-size: 32px;
    }
  }
  .activity-block {
    padding-bottom: 50px;
    .desktop {
      .swiper-slide {
        width: auto !important;
      }
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
    .mobile {
      display: none;
      @include media-breakpoint-down(sm) {
        display: block;
      }
    }
    .item-slide {
      width: 560px;
      @include media-breakpoint-down(sm) {
        width: 100%;
      }

      .background-block {
        width: 100%;
        height: 340px;
        @include media-breakpoint-down(sm) {
          height: 200px;
        }
      }
      .detail {
        padding-top: 20px;
        .date {
          font-family: DBHelvethaicaX-55Regular;
          font-size: 22px;
          color: #ffffff;
          @include media-breakpoint-down(sm) {
            font-size: 24px;
          }
        }
        .title {
          font-family: DBHelvethaicaX-Med;
          font-size: 30px;
          line-height: 1.13;
          color: #ffffff;
          padding-top: 10px;
          @include media-breakpoint-down(md) {
            font-size: 26px;
          }
          @include media-breakpoint-down(sm) {
            font-size: 24px;
          }
        }
      }
    }
    .swiper-container {
      padding-bottom: 80px;
      padding-top: 40px;
      @include media-breakpoint-down(sm) {
        padding-bottom: 50px;
        padding-top: 20px;
      }
      .swiper-pagination {
        bottom: 0;
      }
    }
  }
  .block2 {
    // background-color: #232530;
    padding: 80px 0;
    @include media-breakpoint-down(md) {
      padding: 60px 0;
    }
    @include media-breakpoint-down(sm) {
      padding-top: 54px;
      padding-bottom: 180px;
    }
    .right-block {
      position: relative;
      height: 100%;
      @include media-breakpoint-down(md) {
        display: flex;
        justify-content: center;
      }
      img {
        position: absolute;
        height: 550px;
        bottom: -30%;
        right: 0;
        @include media-breakpoint-down(md) {
          height: 350px;
          margin-top: 20px;
          bottom: auto;
          top: 8%;
        }
        @include media-breakpoint-down(sm) {
          height: 280px;
        }
      }
    }
    .left-block {
      .title {
        font-family: DBHelvethaicaX-Med;
        font-size: 30px;
        line-height: 1.13;
        color: #ffffff;
        padding-top: 18px;
        @include media-breakpoint-down(md) {
          font-size: 24px;
        }
        @include media-breakpoint-down(sm) {
          font-size: 18px;
        }
      }
      ul {
        padding-top: 30px;
        li {
          position: relative;
          padding-left: 15px;
          &:not(:last-child) {
            padding-bottom: 10px;
          }
          &:before {
            content: "";
            background-color: #d4bb9d;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            position: absolute;
            top: 15px;
            left: 0;
          }
          p {
            font-family: DBHelvethaicaX-55Regular;
            font-size: 22px;
            line-height: 1.5;
            color: #ffffff;
            @include media-breakpoint-down(sm) {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
  .block3 {
    background-color: #eae5de;
    padding: 100px 0;
    @include media-breakpoint-down(md) {
      padding: 50px 0;
    }
    @include media-breakpoint-down(sm) {
      padding-bottom: 50px;
      padding-top: 150px;
    }
    .desktop {
      .swiper-slide {
        width: auto !important;
      }
      @include media-breakpoint-down(md) {
        display: none;
      }
    }
    .mobile {
      display: none;
      @include media-breakpoint-down(md) {
        display: block;
      }
    }
    .item-slide {
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      @include media-breakpoint-down(sm) {
        display: block;
        height: 100%;
      }
      .background-block {
        width: 500px;
        height: 100%;
        @include media-breakpoint-down(sm) {
          width: 100%;
          height: 230px;
        }
        iframe {
          width: 100%;
          height: 100%;
        }
      }
      .detail-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 600px;
        height: 100%;
        background-color: #ffffff;
        @include media-breakpoint-down(sm) {
          width: 100%;
          display: block;
        }
        .detail {
          padding: 0 70px;
          @include media-breakpoint-down(sm) {
            padding: 20px 30px;
          }
          .date {
            font-family: DBHelvethaicaX-55Regular;
            font-size: 22px;
            color: #232530;
            @include media-breakpoint-down(sm) {
              font-size: 24px;
            }
          }
          .title {
            font-family: DBHelvethaicaX-Med;
            font-size: 30px;
            line-height: 1;
            color: #232530;
            padding: 10px 0;
            @include media-breakpoint-down(md) {
              font-size: 24px;
            }
          }
          .description {
            font-family: DBHelvethaicaX-55Regular;
            font-size: 22px;
            line-height: 1.3;
            color: #232530;
            @include media-breakpoint-down(md) {
              font-size: 18px;
            }
          }
        }
      }
    }
    .swiper-container {
      padding-bottom: 80px;
      padding-top: 58px;
      @include media-breakpoint-down(sm) {
        padding-bottom: 40px;
        padding-top: 25px;
      }
      .swiper-pagination {
        bottom: 0;
      }
    }
  }
}
