.vproperty-brand-tab {
  .block1 {
    position: relative;

    .block1-1 {
      h2 {
        font-family: DBHelvethaicaX-Med;
        font-size: 44px;
        text-align: center;
        color: #d4bb9d;
        padding-bottom: 8px;
        @include media-breakpoint-down(md) {
          font-size: 30px;
          text-align: left;
        }
      }
      p {
        font-family: DBHelvethaicaX-55Regular;
        font-size: 28px;
        line-height: 1.13;
        text-align: center;
        color: #ffffff;
        &:not(:last-child) {
          padding-bottom: 10px;
        }
        @include media-breakpoint-down(md) {
          font-size: 22px;
          text-align: left;
        }
        @include media-breakpoint-down(sm) {
          font-size: 20px;
        }
      }
    }
    .block1-2 {
      padding: 120px 0;
      @include media-breakpoint-down(md) {
        padding: 60px 0;
      }
      h2 {
        font-family: DBHelvethaicaX-Med;
        font-size: 44px;
        text-align: center;
        color: #d4bb9d;
        padding-bottom: 15px;
        line-height: 1.2;
        @include media-breakpoint-down(md) {
          font-size: 30px;
          text-align: left;
        }
      }
      p {
        font-family: DBHelvethaicaX-55Regular;
        font-size: 24px;
        line-height: 1.5;
        color: #ffffff;
        @include media-breakpoint-down(md) {
          font-size: 22px;
          text-align: left;
        }
        @include media-breakpoint-down(sm) {
          font-size: 20px;
        }
      }
      .block {
        padding-top: 43px;
        @include media-breakpoint-down(md) {
          padding-top: 20px;
        }
        .bold {
          font-family: DBHelvethaicaX-Bd;
          font-size: 30px;
          color: #ffffff;
          padding-bottom: 8px;
          @include media-breakpoint-down(md) {
            font-size: 24px;
          }
        }
        p {
          font-family: DBHelvethaicaX-55Regular;
          font-size: 24px;
          line-height: 1.5;
          color: #ffffff;
          @include media-breakpoint-down(md) {
            font-size: 20px;
          }
          @include media-breakpoint-down(sm) {
            font-size: 18px;
          }
        }
      }
    }
    .policy-block {
      @include media-breakpoint-down(md) {
        background-color: #232530;
        padding: 0 40px;
        padding-bottom: 20px;
        margin-top: 20px;
      }
    }
  }

  .block3 {
    .item-slide {
      display: flex;
      background-color: #f5f0e9;
      @include media-breakpoint-down(md) {
        flex-direction: column;
      }
      .item-slide-image-block {
        flex: 1;
        img {
          max-width: 100%;
        }
      }
      .detail {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 50px;
        @include media-breakpoint-down(md) {
          padding: 50px 20px;
        }
        .name {
          font-family: DBHelvethaicaX-Med;
          font-size: 30px;
          color: #2c2f3c;
          line-height: 1;
          @include media-breakpoint-down(md) {
            font-size: 26px;
          }
        }
        .position {
          font-family: DBHelvethaicaX-55Regular;
          font-size: 24px;
          color: #2c2f3c;
          @include media-breakpoint-down(sm) {
            line-height: 1;
          }
        }
        .description {
          font-family: DBHelvethaicaX-55Regular;
          font-size: 23px;
          line-height: 1.3;
          color: #2c2f3c;
          padding-top: 24px;
          @include media-breakpoint-down(md) {
            font-size: 22px;
          }
          @include media-breakpoint-down(sm) {
            font-size: 18px;
          }
        }
      }
    }
  }
  .block4 {
    position: relative;
    padding: 90px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include media-breakpoint-down(md) {
      padding: 60px 0;
    }
    .container {
      z-index: 1;
    }
    .background-block {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .title {
      font-family: DBHelvethaicaX-Bd;
      font-size: 30px;
      text-align: center;
      line-height: 1.2;
      color: #2c2f3c;
      @include media-breakpoint-down(md) {
        font-size: 26px;
      }
    }
    .description {
      font-family: DBHelvethaicaX-55Regular;
      font-size: 24px;
      line-height: 1.25;
      text-align: center;
      color: #2c2f3c;
      padding-top: 24px;
      @include media-breakpoint-down(md) {
        font-size: 22px;
      }
      @include media-breakpoint-down(sm) {
        font-size: 20px;
      }
    }
    .content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      padding-top: 56px;
      @include media-breakpoint-down(md) {
        flex-direction: column;
        justify-content: center;
      }
      .logo-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        &:not(:last-child) {
          @include media-breakpoint-down(md) {
            padding-bottom: 40px;
          }
        }

        img {
          width: 100px;
        }
        .name {
          font-family: DBHelvethaicaX-Li;
          font-size: 18px;
          text-align: center;
          color: #2c2f3c;
          max-width: 300px;
          padding-top: 15px;
          @include media-breakpoint-down(md) {
            max-width: 100%;
            line-height: 1;
          }
        }
      }
    }
  }
  .block5 {
    position: relative;
    padding-top: 100px;
    padding-bottom: 150px;
    @include media-breakpoint-down(md) {
      padding-top: 60px;
      padding-bottom: 220px;
    }
    .bg-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      @include media-breakpoint-down(md) {
        bottom: 0;
        top: auto;
        width: auto;
        height: 100%;
      }
    }
    .block {
      h2 {
        font-family: DBHelvethaicaX-Med;
        font-size: 44px;
        color: #d4bb9d;
        @include media-breakpoint-down(md) {
          font-size: 30px;
        }
      }
      .description {
        font-family: DBHelvethaicaX-55Regular;
        font-size: 24px;
        line-height: 1.5;
        color: #ffffff;
        @include media-breakpoint-down(md) {
          font-size: 22px;
        }
        @include media-breakpoint-down(sm) {
          font-size: 18px;
        }
      }
    }
    .block-2 {
      @include media-breakpoint-down(sm) {
        padding-top: 20px;
      }
    }
  }
}
