.project-section-virtuali-tour {
  background-color: #f4efe8;
  position: relative;
  .background-image-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 0;
    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: unset;
      padding: 50px 30px;
    }
    .button {
      cursor: pointer;
      border-radius: 0;
      background-color: transparent;
      height: auto;
      padding: 10px 22px;
      border: 1px solid;
      text-align: center;
      &:last-child {
        margin-left: 20px;
        @include media-breakpoint-down(sm) {
          margin-left: 0;
          margin-bottom: 15px;
        }
      }
    }
  }
  .container-content {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include media-breakpoint-down(sm) {
      height: 230px;
    }
    iframe {
      width: 100%;
      height: 100%;
    }
  }
}
