.project-section-floor-plan {
  background-color: #ffffff;
  padding: 80px 0;
  position: relative;
  min-height: 100vh;
  @include media-breakpoint-only(md) {
    height: 500px;
  }
  @include media-breakpoint-down(sm) {
    height: auto;
    min-height: 80vh;
  }
  h2 {
    font-family: TrajanPro-Bold;
    font-size: 54px;
    color: #f05a28;
    text-align: center;
    text-transform: uppercase;
    @include media-breakpoint-down(md) {
      font-size: 40px;
    }
    @include media-breakpoint-down(sm) {
      font-size: 30px;
    }
  }
  .background-image-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .container {
    position: relative;
    z-index: 1;
  }
  .container-button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 50px;
    .select-plan-block {
      width: 100%;
      margin-bottom: 10px;
      .ant-select {
        width: 100%;
        .ant-select-selection {
          border-color: #979797;
          border-radius: 0;
          height: auto;
          padding: 7px 0;
        }
        .ant-select-arrow {
          width: 28px;
          transform: translateY(-50%);
          margin-top: 1px;
        }
        .ant-select-selection-selected-value,
        .ant-select-selection__placeholder {
          font-family: TrajanPro-Regular;
          font-size: 18px;
          text-transform: uppercase;
          @include media-breakpoint-down(sm) {
            font-size: 14px;
          }
        }
      }
    }
  }

  .image-floor-plan-block {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    img {
      margin: auto;
      max-width: 100%;
    }
  }
  .description-block {
    display: flex;
    align-items: center;
    margin-left: 50px;
    @include media-breakpoint-down(sm) {
      margin-left: 0;
    }
    .selected-floor {
      display: flex;
      align-items: center;
      @include media-breakpoint-down(sm) {
        justify-content: space-between;
      }
      p {
        font-family: Gotham-Medium;
        font-size: 18px;
        color: #2c2f3c;
        @include media-breakpoint-down(sm) {
          display: none;
        }
      }
      img {
        width: 70px;
        margin-left: 20px;
        @include media-breakpoint-down(sm) {
          margin-left: 0;
          width: 52px;
        }
      }
    }
    .condition {
      margin-left: 100px;
      @include media-breakpoint-down(sm) {
        margin-left: 10px;
      }
      p {
        font-family: DBHelvethaicaX-55Regular;
        font-size: 20px;
        color: #343846;
        @include media-breakpoint-down(sm) {
          font-size: 15px;
        }
      }
    }
  }
}
