.project-section-banner {
  .project-banner-detail-block {
    @include media-breakpoint-down(sm) {
      padding-top: 40px;
      padding-bottom: 50px;
    }
    .logo-block {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 150px;
        max-width: 150px;
        max-height: 80px;
        @include media-breakpoint-down(sm) {
          width: 130px;
        }
      }
    }
    .description-block {
      margin-top: 35px;
      .title {
        font-family: "DBHelvethaicaX-Med";
        font-size: 48px;
        text-align: center;
        color: #000000;
        @include media-breakpoint-down(sm) {
          font-size: 28px;
        }
      }
      .description {
        font-family: "DBHelvethaicaX-Li";
        font-size: 28px;
        line-height: 1.17;
        text-align: center;
        color: #000000;
        padding-top: 5px;
        @include media-breakpoint-down(sm) {
          font-size: 22px;
        }
      }
    }
    .button-block {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 35px;
      .button-primary {
        padding: 10px 40px;
        background-color: rgb(237, 88, 40);
        cursor: pointer;
        .background {
          background-color: transparent;
          &:hover {
            opacity: 0.6;
          }
        }
        p {
          font-family: "DBHelvethaicaX-55Regular";
          font-size: 22px;
          text-transform: uppercase;
          letter-spacing: 1px;
          color: #ffffff;
        }
      }
      @include media-breakpoint-down(sm) {
        margin-top: 20px;
      }
    }
  }

  .desktop {
    height: 100vh;
    @include media-breakpoint-down(sm) {
      display: none;
    }
    .project-banner-detail-block {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: rgba(255, 255, 255, 0.7);
      width: 520px;
      padding: 70px 50px;
    }
    .overlay-image-block {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .swiper-container {
      height: 100%;
      width: 100%;
      .swiper-pagination {
        bottom: 20px;
      }
    }
    .project-image-banner-block {
      height: 100%;
      width: 100%;
      position: relative;
      .mouse-scroll-block {
        position: absolute;
        z-index: 1;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
        @media (max-width: 1450px) {
          svg {
            width: 40px;
          }
        }
        // @include media-breakpoint-down(sm) {
        //   margin: auto;
        //   display: flex;
        //   justify-content: center;
        //   align-items: center;
        // }
      }
    }
  }
  .mobile {
    display: none;
    background: #ffffff;
    @include media-breakpoint-down(sm) {
      display: block;
    }
    .mobile-overlay-image-block {
      height: 350px;
    }
    .project-image-banner-block-mobile {
      img{
        max-width: 100%;
        max-height: 100%;
      }
      .container {
        width: auto;
      }
      .slide-image-block {
        height: 250px;
      }
    }
  }
}
