.project-section-concept {
  h2 {
    font-family: TrajanPro-Bold;
    font-size: 54px;
    color: #f05a28;
    text-transform: uppercase;
    line-height: 1.2;
    @include media-breakpoint-down(md) {
      font-size: 40px;
      text-align: center;
    }
    @include media-breakpoint-down(sm) {
      font-size: 30px;
      // text-align: center;
    }
  }
  .description {
    font-family: DBHelvethaicaX-55Regular;
    font-size: 26px;
    line-height: 1.13;
    color: #2c2f3c;
    @include media-breakpoint-down(sm) {
      font-size: 24px;
      line-height: 1.33;
    }
  }
  .desktop {
    @include media-breakpoint-down(md) {
      display: none;
    }
    .topic-block {
      position: relative;
      padding-bottom: 200px;
      .background-block {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      .title-block {
        position: relative;
        z-index: 1;
        padding-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .sub-title {
        font-family: DBHelvethaicaX-Med;
        font-size: 38px;
        text-align: center;
        color: #2c2f3c;
        padding-bottom: 30px;
      }
      .line {
        height: 150px;
        width: 1px;
        background-color: #000000;
      }
      .image1 {
        padding-top: 30px;
        width: 100%;
        height: 837px;
        position: relative;
        @include media-breakpoint-down(md) {
          height: 500px;
        }
        .description-block-main-concept {
          position: absolute;
          bottom: -18%;
          left: 0;
          width: 53%;
          background-color: #f7f7f5;
          padding: 40px 40px 30px 50px;
        }
      }
    }
    .concept-block {
      position: relative;
      background-color: #f5f0e9;
      padding-top: 100px;
      padding-bottom: 50px;
      .background-concept-block {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      .left-block {
        height: 500px;
        @include media-breakpoint-down(md) {
          height: 350px;
        }
        .image-block {
          width: 90%;
          height: 100%;
        }
      }

      .topic-concept-block {
        margin-left: -70px;
        padding-bottom: 20px;

        &.full-border {
          &:before {
            height: 100%;
          }
        }

        &:before {
          content: "";
          height: 100px;
          width: 1px;
          background-color: #000000;
          position: absolute;
          top: -100px;
          left: -1px;
        }
        &:after {
          content: "";
          height: 100%;
          width: 1px;
          background-color: #000000;
          position: absolute;
          top: 125px;
          left: -1px;
        }
      }
      .content-block {
        padding-top: 60px;
        padding-left: 50px;
        padding-right: 50px;
        .title {
          font-family: DBHelvethaicaX-Med;
          font-size: 38px;
          color: #2c2f3c;
        }
        .description {
          padding-top: 10px;
        }
        .facility-item {
          display: flex;
          align-items: center;

          &:not(:last-child) {
            padding-bottom: 40px;
          }
          .icon-block {
            margin-right: 20px;
            width: 68px;
            height: 68px;
          }

          .facility-detail-block {
            .name {
              font-family: Gotham-Medium;
              font-size: 19px;
              color: #ed5828;
            }
            .description {
              font-family: DBHelvethaicaX-55Regular;
              font-size: 22px;
              line-height: 1;
              color: #2c2f3c;
              padding-top: 10px;
            }
          }
        }
        table {
          p,
          li {
            font-family: DBHelvethaicaX-55Regular;
            font-size: 24px;
            line-height: 1.13;
            color: #2c2f3c;
          }
          tr {
            td {
              font-family: DBHelvethaicaX-55Regular;
              font-size: 24px;
              line-height: 1.13;
              color: #2c2f3c;
              &:first-child {
                font-family: DBHelvethaicaX-Med;
                font-size: 26px;
                color: #2c2f3c;
                text-transform: uppercase;
              }
              &:last-child {
                padding-left: 27px;
                padding-bottom: 10px;
              }
            }
          }
        }
      }
    }

    .concept-block-second {
      .content-block {
        padding-left: 0;
      }
      .right-block {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        height: 100%;
        .topic-concept-block {
          margin-right: -60px;
          background-color: transparent;
          display: flex;
          flex-direction: column;
          align-items: flex-end;

          &:before {
            top: -100px;
            right: 0;
            left: auto;
          }
          &:after {
            content: "";
            bottom: 0;
            right: 0;
            left: auto;
          }
        }
      }
      .left-block {
        .image-block {
          margin-left: auto;
        }
      }
    }
    .concept-block-left-position {
      .right-block {
        .content-block {
          // text-align: right;
          // text-align: left;
          padding-left: 50px;
          padding-right: 50px;
          .facility-item {
            justify-content: flex-start;
            flex-direction: row-reverse;
            .icon-block {
              margin-left: 20px;
            }
          }
        }
      }
    }
    .concept-block-second-right-position {
      .right-block {
        height: 100%;
        align-items: flex-start;
        padding-left: 50px;
        .topic-concept-block {
          margin-right: auto;
          margin-left: -120px;
          align-items: flex-start;

          &:before {
            right: auto;
            left: -1px;
          }
          &:after {
            right: auto;
            left: -1px;
          }
        }
      }
      .left-block {
        .image-block {
          margin-right: auto;
          margin-left: 0;
        }
      }
    }
  }
  .mobile {
    display: none;
    background-color: #d8d8d8;
    @include media-breakpoint-down(md) {
      display: block;
    }
    .topic-block {
      padding-top: 40px;
      .block1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        .sub-title {
          font-family: DBHelvethaicaX-Med;
          font-size: 26px;
          text-align: center;
          color: #2c2f3c;
          padding-top: 16px;
        }
        .line {
          height: 50px;
          width: 1px;
          background-color: #000000;
          margin: 10px 0;
        }
      }
      .image-block {
        height: 348px;
      }
      .description-block {
        padding: 34px 0;
        background-color: #ffffff;
      }
    }
    .concept-block {
      position: relative;
      background-color: #f5f0e9;
      .background-concept-block {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      .block1 {
        position: relative;
        padding: 90px 0;
        &:before {
          content: "";
          height: 55px;
          width: 1px;
          background-color: #000000;
          position: absolute;
          top: 20px;
          left: 50%;
        }
        &:after {
          content: "";
          height: 55px;
          width: 1px;
          background-color: #000000;
          position: absolute;
          bottom: 20px;
          left: 50%;
        }
      }
      .image-block {
        position: relative;
        z-index: 2;
        height: 348px;
      }
      .description-block {
        position: relative;
        z-index: 2;
        padding: 40px 0;
        .title {
          font-family: DBHelvethaicaX-Med;
          font-size: 24px;
          color: #2c2f3c;
          padding-bottom: 7px;
        }
      }
      .facility-item {
        display: flex;
        flex-direction: column;

        align-items: center;
        &:not(:last-child) {
          padding-bottom: 30px;
        }
        .icon {
          width: 60px;
        }
        .facility-detail-block {
          text-align: center;
          .name {
            font-family: Gotham-Medium;
            font-size: 18px;
            text-align: center;
            color: #ed5828;
            padding-top: 20px;
            padding-bottom: 8px;
          }
        }
      }
      table {
        display: flex;
        justify-content: center;
        p,
        li {
          font-family: DBHelvethaicaX-55Regular;
          font-size: 24px;
          line-height: 1.13;
          color: #2c2f3c;
          @include media-breakpoint-down(sm) {
            font-size: 22px;
          }
        }
        tr {
          td {
            font-family: DBHelvethaicaX-55Regular;
            font-size: 24px;
            line-height: 1.13;
            color: #2c2f3c;
            &:first-child {
              font-family: DBHelvethaicaX-Med;
              font-size: 24px;
              color: #2c2f3c;
              text-transform: uppercase;
              @include media-breakpoint-down(sm) {
                font-size: 20px;
              }
            }
            &:last-child {
              padding-left: 10px;
              padding-bottom: 10px;
              @include media-breakpoint-only(md) {
                padding-left: 50px;
              }
            }
          }
        }
      }
    }
  }
}
