.project-section-recommended {
  position: relative;
  padding: 100px 0;
  background-color: #2c2f3c;
  @include media-breakpoint-down(sm) {
    padding: 60px 0;
  }
  .background-image-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  h2 {
    font-family: TrajanPro-Bold;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    line-height: 1.2;
    margin-bottom: 70px;
    @include media-breakpoint-down(sm) {
      margin-bottom: 50px;
    }
  }
  .container-content {
    .swiper-pagination {
      bottom: 0;
    }
    .project-block-wrapper {
      height: 500px;
      margin-bottom: 60px;
      overflow: hidden;
      @include media-breakpoint-down(sm) {
        margin-bottom: 40px;
      }

      .card-project-component {
        cursor: pointer;
        transition: opacity 0.3s, transform 0.4s;
        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
  .desktop {
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
  .mobile {
    display: none;
    @include media-breakpoint-down(sm) {
      display: block;
    }
  }
}
