.project-section-location {
  display: flex;
  min-height: 80vh;
  @include media-breakpoint-down(lg) {
    min-height: 60vh;
  }
  @include media-breakpoint-down(md) {
    min-height: initial;
  }

  h2 {
    font-family: TrajanPro-Bold;
    font-size: 54px;
    color: #f05a28;
    text-transform: uppercase;
    line-height: 1.2;
    @include media-breakpoint-down(md) {
      font-size: 40px;
    }
    @include media-breakpoint-down(sm) {
      font-size: 30px;
    }
  }
  .row {
    width: 100%;
  }
  .left-block {
    height: 100%;
    @include media-breakpoint-down(md) {
      height: 450px;
    }
    .maps-block {
      width: 100%;
      height: 100%;
      .icon-zoom {
        position: absolute;
        bottom: 20px;
        right: 15px;
        z-index: 1;
        cursor: pointer;
        // i {
        //   font-size: 20px;
        //   color: #2c2f3c;
        // }
      }
    }
  }
  .right-block {
    background-color: #ffffff;
    padding: 80px 30px;
    @include media-breakpoint-down(md) {
      padding: 50px 0;
    }
    .description {
      font-family: DBHelvethaicaX-55Regular;
      font-size: 22px;
      line-height: 1.25;
      color: #2c2f3c;
      padding-top: 48px;
      @include media-breakpoint-down(md) {
        // font-size: 18px;
        padding-top: 20px;
      }
    }
    .location-point-block {
      padding-top: 47px;
      @include media-breakpoint-down(md) {
        padding-top: 20px;
      }

      .point-block {
        display: flex;
        align-items: center;
        padding-bottom: 20px;
        img {
          width: 48px;
          height: 48px;
          margin-right: 16px;
          @include media-breakpoint-down(md) {
            width: 40px;
            height: 40px;
            margin-right: 25px;
          }
        }
        p {
          font-family: DBHelvethaicaX-55Regular;
          font-size: 22px;
          line-height: 1;
          color: #2c2f3c;
          max-width: 300px;
          @include media-breakpoint-down(md) {
            // font-size: 18px;
            // max-width: 200px;
          }
        }
      }
    }
    .button-group {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 30px;
      .button {
        cursor: pointer;
        border-radius: 0;
        background-color: transparent;
        height: auto;
        padding: 10px 22px;
        border: 1px solid;
        &:first-child {
          margin-right: 20px;
        }
      }
    }
  }
}
