.section4-home-page {
  background-color: #232530;
  overflow: hidden;
  .desktop {
    height: 960px;
    display: flex !important;
    position: relative;
    @include media-breakpoint-down(md) {
      display: none !important;
    }
    .image-block {
      flex-basis: 50%;
      > div {
        width: 100%;
        height: 100%;
      }
    }
    .content-block {
      position: relative;
      flex-basis: 50%;
      padding-top: 100px;
      padding-left: 80px;
      @include media-breakpoint-down(lg) {
        padding-top: 80px;
        padding-left: 50px;
        padding-right: 30px;
      }
      .content-block-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      h2 {
        font-family: TrajanPro-Bold;
        text-transform: uppercase;
        font-size: 48px;
        line-height: 1.25;
        color: #d4bb9d;
      }
      .description-block {
        margin-top: 80px;
        p {
          font-family: DBHelvethaicaX-55Regular;
          font-size: 24px;
          line-height: 1.25;
          color: white;
        }
      }
      .container-social {
        display: flex;
        align-items: center;
        margin-top: 14px;
        .social-block {
          z-index: 2;
          cursor: pointer;
          &:not(:last-child) {
            margin-right: 10px;
          }
        }
      }
      .button-block {
        button {
          margin-top: 75px;
        }
      }
    }
    .container-projects {
      position: absolute;
      bottom: 5%;
      right: 6%;
      display: flex;
      align-items: center;
      @include media-breakpoint-down(lg) {
        right: 0;
      }
      .projects-warpper {
        .image-project-block-background {
          background: #232530;
        }
        .image-project-block {
          width: 270px;
          height: 180px;
          opacity: 0.5;
          overflow: hidden;
          cursor: pointer;
        }
        .bg-image {
          transition: opacity 0.3s, transform 0.4s;
        }
        .name-block {
          padding-top: 10px;
          font-family: DBHelvethaicaX-55Regular;
          font-size: 30px;
          line-height: 1.13;
          color: white;
          @include media-breakpoint-down(lg) {
            font-size: 28px;
          }
        }
        &:not(:last-child) {
          margin-right: 80px;
          @include media-breakpoint-down(lg) {
            margin-right: 50px;
          }
        }
        &:hover {
          .image-project-block {
            opacity: 1;
          }
          .bg-image {
            transform: scale(1.05);
          }
        }
      }
      .projects-warpper-selected {
        .image-project-block {
          opacity: 1;
          &:hover {
            .image-project-block {
              opacity: 1;
            }
            .bg-image {
              transform: scale(1);
            }
          }
        }
      }
    }
  }

  .swiper-pagination {
    bottom: -2px;
  }

  .mobile {
    display: none;
    padding-bottom: 35px;
    @include media-breakpoint-down(md) {
      display: block !important;
    }
    .image-block {
      height: 290px;
    }
    .container-projects {
      background-color: #232530;
      padding: 30px 0;
      display: flex;
      .title {
        font-family: TrajanPro-Bold;
        text-transform: uppercase;
        font-size: 20px;
        line-height: 1.8;
        color: #d4bb9d;
      }
      .description {
        margin-top: 30px;
        font-family: DBHelvethaicaX-55Regular;
        font-size: 24px;
        line-height: 1.25;
        color: white;
      }
      .content-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 30px;
        .container-social {
          display: flex;
          align-items: center;
          .social-block {
            z-index: 2;
            cursor: pointer;
            &:not(:last-child) {
              margin-right: 12px;
            }
          }
        }
      }
    }
  }
}
