.section1-home-page {
  position: relative;
  height: 100vh;
  @include media-breakpoint-down(sm) {
    height: auto !important;
  }
  .swiper-container {
    width: 100%;
    height: 100%;
  }
  .section1-home-page-desktop {
    width: 100%;
    height: 100%;
    @include media-breakpoint-down(sm) {
      display: none;
    }

    .swiper-button-next,
    .swiper-button-prev {
      background-color: #2c2f3c;
      padding: 20px 23px;
      color: #ffffff;
      background-size: 12px 44px;
    }

    .swiper-button-prev {
      background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'><path%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F><%2Fsvg>") !important;
    }

    .swiper-button-next {
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E") !important;
    }

    .image-banner-block {
      width: 100%;
      height: 100%;
      position: relative;
      cursor: pointer;

      .banner-detail-block {
        position: absolute;
        top: 50%;
        // left: 50%;
        transform: translateY(-50%);
        background-color: rgba(255, 255, 255, 0.8);
        width: 360px;
        height: 440px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media (min-width: 1200px) and (max-width: 1450px) {
          width: 290px;
          height: 330px;
        }
        .logo-block {
          margin-bottom: 30px;
          img {
            max-width: 90%;
            margin: auto;
          }
          @media (max-width: 1450px) {
            margin-bottom: 20px;
            img {
              width: 80%;
              margin: auto;
            }
          }
        }
        .description-block {
          padding: 0 26%;
          @media (min-width: 1450px) {
            padding: 0 15%;
          }
          @media (max-width: 1450px) {
            padding: 0 17%;
          }
        }
        .description {
          font-family: DBHelvethaicaX-55Regular;
          font-size: 24px;
          color: #2c2f3c;
          text-align: center;
          letter-spacing: 0.4px;
          line-height: 1.1;
          @media (min-width: 1200px) and (max-width: 1450px) {
            font-size: 22px;
          }
          // @include media-breakpoint-down(sm) {
          //   font-size: 18px;
          // }
        }
        .description-highlight {
          font-family: DBHelvethaicaX-Med;
          font-size: 32px;
          padding: 6px 0;
          @media (min-width: 1200px) and (max-width: 1450px) {
            font-size: 30px;
          }
          // @include media-breakpoint-down(sm) {
          //   font-size: 24px;
          // }
        }
        .price {
          font-family: DBHelvethaicaX-55Regular;
          font-size: 24px;
          color: #ed5828;
          margin-top: 22px;
          @media (min-width: 1200px) and (max-width: 1450px) {
            font-size: 22px;
          }
          // @include media-breakpoint-down(sm) {
          //   font-size: 18px;
          // }
        }
        .pc-overlay-image {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .button-block {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 14px;
      .button-primary {
        padding: 5px 20px;
        cursor: pointer;
        .background {
          background-color: transparent;
          &:hover {
            opacity: 0.6;
          }
        }
        p {
          font-family: "DBHelvethaicaX-55Regular";
          font-size: 18px;
          text-transform: uppercase;
          letter-spacing: 1px;
        }
      }
    }
    .mouse-scroll-block {
      position: absolute;
      z-index: 1;
      bottom: 6%;
      left: 50%;
      transform: translateX(-50%);
      @media (max-width: 1450px) {
        svg {
          width: 40px;
        }
      }
      // @include media-breakpoint-down(sm) {
      //   margin: auto;
      //   display: flex;
      //   justify-content: center;
      //   align-items: center;
      // }
    }
    .swiper-pagination {
      bottom: 25px;
    }
  }
  .section1-home-page-mobile {
    display: none;
    @include media-breakpoint-down(sm) {
      display: block;
      width: 100%;
      height: 100%;
    }
    .image-banner-block {
      width: 100%;
      height: 100%;
    }
  }
  .image-mobile-banner {
    height: 422px;
  }
  .container-mobile-detail {
    .mobile-image-block {
      height: 250px;
    }
    .mobile-detail {
      background-color: #2c2f3c;
      padding: 10px 20px;
      height: 350px;
      display: flex;
      justify-content: center;
      align-items: center;
      .logo-block {
        display: flex;
        justify-content: center;
        margin: auto;
        img {
          max-width: 180px;
          margin: auto;
        }
      }
      .description-block {
        margin-top: 35px;
        .title {
          font-family: "DBHelvethaicaX-Med";
          font-size: 48px;
          text-align: center;
          color: #ffffff;
          @include media-breakpoint-down(sm) {
            font-size: 28px;
          }
        }
        .description {
          font-family: "DBHelvethaicaX-Li";
          font-size: 28px;
          line-height: 1.17;
          text-align: center;
          color: #ffffff;
          padding-top: 5px;
          @include media-breakpoint-down(sm) {
            font-size: 22px;
          }
        }
        .button-block {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 35px;
          .button-primary {
            padding: 10px 40px;
            cursor: pointer;
            .background {
              background-color: transparent;
              &:hover {
                opacity: 0.6;
              }
            }
            p {
              font-family: "DBHelvethaicaX-55Regular";
              font-size: 22px;
              text-transform: uppercase;
              letter-spacing: 1px;
            }
          }
          @include media-breakpoint-down(sm) {
            margin-top: 20px;
          }
        }
      }
    }
  }
}
