.section6-home-page {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 450px;
  @include media-breakpoint-down(lg) {
    height: 400px;
  }
  @include media-breakpoint-down(md) {
    height: auto;
  }

  .container-content {
    display: flex;
    height: 100%;
    .block-left {
      height: 100%;
      position: relative;
      @include media-breakpoint-down(md) {
        height: 280px;
        background-position: left;
        background-size: cover;
      }
      @include media-breakpoint-up(md) {
        background: none !important;
      }

      .block-content-wrapper {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        height: 100%;
        .line {
          width: 60px;
          height: 1px;
          background-color: white;
          margin-bottom: 20px;
        }
        h2 {
          font-family: TrajanPro-Regular;
          text-transform: uppercase;
          font-size: 60px;
          color: #d4bb9d;
          @include font-responsive(40px, 60px, 1vw);
        }
        p {
          font-family: TrajanPro-Regular;
          text-transform: uppercase;
          font-size: 30px;
          color: white;
          margin-top: 12px;
          @include font-responsive(25px, 30px, 1vw);
        }
      }

      .bg-block-left {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #d4bb9d;
        mix-blend-mode: overlay;
        height: 100%;
        width: 100%;
      }
    }
    .block-center {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      @include media-breakpoint-down(md) {
        height: 280px;
        background-position: bottom;
        background-size: cover;
      }
      // @include media-breakpoint-up(md) {
      //   background: none !important;
      // }
      p {
        font-size: 24px;
        color: white;
        @include font-responsive(18px, 24px, 1vw);
      }
      .p-text {
        font-family: DBHelvethaicaX-55Regular;
        margin-top: 30px;
      }
      .p-line-id {
        font-family: Gotham-Medium;
        margin-top: 5px;
      }
      .img-qr-code {
        width: 128px;
      }
    }
    .block-right {
      height: 100%;
      position: relative;
      @include media-breakpoint-down(md) {
        height: 280px;
        background-position: right;
        background-size: cover;
      }
      @include media-breakpoint-up(md) {
        background: none !important;
      }

      .bg-block-right {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #2c2f3c;
        mix-blend-mode: soft-light;
        height: 100%;
        width: 100%;
      }
      .block-content-wrapper {
        height: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .block1 {
          p {
            font-family: Gotham-Medium;
            font-size: 24px;
            line-height: 1.5;
            color: #d4bb9d;
            text-transform: uppercase;
            text-align: center;
            @include font-responsive(18px, 24px, 1vw);
          }
        }
        .block2 {
          margin: 40px 0;
          width: 100%;
          @include media-breakpoint-down(md) {
            margin: 20px 0;
          }
          .ant-form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
          .ant-form-item {
            margin-right: 0;
            width: 100%;
            display: flex;
            justify-content: center;
          }
          .ant-form-item-control-wrapper {
            width: 80%;
          }
          .ant-form-item-with-help {
            margin-bottom: 0;
          }
          .ant-form-explain {
            position: absolute;
            bottom: -25px;
            left: 3px;
            font-family: DBHelvethaicaX-55Regular;
            font-size: 20px;
            padding-top: 3px;
          }
          .button-submit-block {
            margin-top: 40px;
            button {
              padding: 5px 30px;
            }
          }
          .input-email {
            text-align: center;
            width: 100%;
            height: 60px;
            background-color: #232530;
            border: 0;
            box-shadow: inset 0 4px 8px 0 rgba(0, 0, 0, 0.5);
            color: white;
          }
        }
      }
    }
  }
}
