.section2-home-page {
  position: relative;
  background-color: #2c2f3c;
  padding-bottom: 30px;

  .container-project-silder {
    margin-top: 40px;
    @include media-breakpoint-down(sm) {
      display: none;
    }

    .swiper-container {
      padding-bottom: 40px;
      .swiper-slide {
        margin: auto;
        .project-block {
          opacity: 0.2;
        }
      }
      .swiper-slide-active {
        .project-block {
          opacity: 1;
        }
      }
    }
    .swiper-pagination {
      bottom: 0;
    }

    .project-block {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 550px;
      @include media-breakpoint-down(lg) {
        height: 500px;
      }
      @include media-breakpoint-down(md) {
        height: 450px;
      }
      p {
        color: #ffffff;
        font-family: DBHelvethaicaX-55Regular;
        font-size: 20px;
      }
      .name {
        font-family: TrajanPro-Bold;
        text-transform: uppercase;
        font-size: 30px;
        color: #d4bb9d;
        @include media-breakpoint-down(lg) {
          font-size: 28px;
        }
      }
      .title {
        font-size: 28px;
        margin-bottom: 10px;
        @include media-breakpoint-down(lg) {
          font-size: 24px;
          line-height: 1;
        }
      }
      .description {
        display: block;
        display: -webkit-box;
        max-width: 100%;
        margin: 0 auto;
        line-height: 1.3;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        @include media-breakpoint-down(sm) {
          -webkit-line-clamp: 3;
        }
      }
      .logo-block {
        position: absolute;
        top: 30px;
        left: 20px;
        img {
          height: 50px;
        }
      }
      .project-image {
        width: 100%;
        height: 100%;
      }
      .project-detail {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
        padding: 35px;
        width: 40%;
        height: 350px;
        background-color: rgba(44, 47, 60, 0.6);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media (min-width: 1200px) {
          right: 3.6%;
        }
        @media (min-width: 1200px) and (max-width: 1400px) {
          height: 320px;
        }
        @include media-breakpoint-down(lg) {
          overflow: auto;
          right: 10px;
          height: 300px;
        }
        @include media-breakpoint-down(md) {
          height: 320px;
          width: 48%;
        }
      }
      .container-text-icon {
        margin-top: 15px;
      }
      .text-icon-block {
        &:last-child() {
          margin-top: 5px;
        }
        p {
          font-size: 20px;
        }
      }
    }
    .contain-button-more {
      position: absolute;
      bottom: 35px;
      right: 35px;
    }
  }

  .container-project-silder-mobile {
    display: none;

    @include media-breakpoint-down(sm) {
      display: flex;
      position: relative;
      padding: 0;
      margin-top: 40px;
    }
    @include media-breakpoint-down(sm) {
      margin-top: 20px;
    }
    .project-block-mobile {
      width: 100%;
      // height: 100%;
      height: 500px;
      max-width: 500px;
      margin: auto;
    }
  }
}
