.section3-home-page {
  position: relative;
  padding-top: 80px;
  padding-bottom: 40px;
  position: relative;
  overflow: hidden;
  @include media-breakpoint-down(sm) {
    padding-top: 60px;
  }
  .bg-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .button-block {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    p {
      font-family: DBHelvethaicaX-55Regular;
      font-size: 22px;
      color: #2c2f3c;
      margin-right: 10px;
      overflow: hidden;
    }
  }
}
